/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-img-detail {
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border: 1px solid #DEDEDE;
  background: #FFFFFF;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .cp-img-detail {
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
}
.cp-img-detail .img-wrap {
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  height: 16.8rem;
  overflow: hidden;
  display: block;
}
.cp-img-detail .img-wrap img {
  height: 100%;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .cp-img-detail .img-wrap {
    height: 14.4rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
  .cp-img-detail .img-wrap img {
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
}
.cp-img-detail .detail-wrap {
  padding: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .cp-img-detail .detail-wrap {
    padding: 1.6rem;
  }
}
.cp-img-detail .detail-wrap .detail-tile {
  font-family: "Poppins Semibold";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
  margin-bottom: 0.8rem;
}
.cp-img-detail .detail-wrap .detail-desc {
  font-family: "Poppins Regular";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #666666;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cp-img-detail .detail-wrap .btn.btn-link {
  line-height: 2.2rem;
}
.cp-img-detail.type-structura {
  height: 100%;
}
.cp-img-detail.type-structura .detail-wrap {
  height: 100%;
  padding: 1.6rem;
}
.cp-img-detail.type-structura .detail-wrap .detail-tile {
  display: flex;
  align-items: start;
  gap: 1.2rem;
  margin-bottom: 0;
}
.cp-img-detail.type-structura .detail-wrap .detail-tile .number {
  font-size: 4rem;
  font-family: "Poppins Semibold";
  margin-top: 7px;
}
@media only screen and (max-width: 768px) {
  .cp-img-detail.type-structura .detail-wrap .detail-tile .number {
    font-size: 3.6rem;
  }
}
.cp-img-detail.type-structura .detail-wrap .detail-tile .description {
  font-family: "Poppins Medium";
  font-size: 1.4rem;
  color: #333333;
}
.cp-img-detail.type-structura .detail-wrap.blue-bg {
  background-color: #ECF2FB;
}
.cp-img-detail.type-structura .detail-wrap.blue-bg .number {
  color: #8BB2E9;
}
.cp-img-detail.type-structura .detail-wrap.pink-bg {
  background-color: #FAE6EA;
}
.cp-img-detail.type-structura .detail-wrap.pink-bg .number {
  color: #E46881;
}
.cp-img-detail.type-structura .detail-wrap.yellow-bg {
  background-color: #FFF8E5;
}
.cp-img-detail.type-structura .detail-wrap.yellow-bg .number {
  color: #FFD466;
}
.cp-img-detail.type-structura .img-wrap {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cp-img-detail.type-structura .img-wrap img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*# sourceMappingURL=cp-img-detail.css.map */
