@import "../config/variables";
@import "../config/mixin";

.cp-architect-card {
  position: relative;
  width: 29.6rem;
  height: 26rem;
  border-radius: 1.6rem;
  overflow: hidden;

  .img-wrap {
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      z-index: 1;
    }
  }
  .detail-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-inline: 2.4rem;
    padding-bottom: 1.6rem;
    z-index: 2;
  }
  .card-title {
    font-size: 1.6rem;
    font-family: $font-medium;
    margin-bottom: 0.8rem;
    color: $clr-root;
  }
  .card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .detail-left {
      display: flex;
      align-items: center;

      .location-details {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        .location-icon img {
          width: 1.6rem;
          height: 1.6rem;
        }

        .location {
          margin-left: 0.5rem;
          font-size: 1.2rem;
          color: $clr-root;
          font-family: $font-medium;
          line-height: 1.6rem;
          margin-left: 1.2rem;
        }
      }

      .seprate {
        width: 1px;
        height: 1.2rem;
        background-color: #ccc;
        margin-right: 0.5rem;
      }

      .rating-details {
        display: flex;
        align-items: center;
        padding: 0.2rem 0.8rem;
        background-color: $clr-secondary;
        border-radius: 2.6rem;

        .rating-icon {
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0.25rem;
        }

        .rating {
          color: $clr-root;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }
      }
    }

    .detail-right {
      width: 2.4rem;
      height: 2.4rem;
      border: 1px solid $clr-root;
      border-radius: 0.4rem;
      padding: .5rem;

      .icon {
        color: $clr-root;
      }
    }
  }
}


