@import "../config/variables";
@import "../config/mixin";

.cp-agrico-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem 0;

  @media only screen and (max-width: $media-mobile) {
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
    margin: 1.6rem 0;
  }
  .left-wrapper {
    display: flex;
    align-items: center;

    .logo {
      width: 6rem;
      height: 6rem;
      padding: 0.6rem;
      border-radius: 1rem;
      border: 1px solid $clr-border;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem;

      @media only screen and (max-width: $media-mobile) {
        width: 4.8rem;
        height: 4.8rem;
        margin-right: 0.8rem;
        border-radius: 0.8rem;
      }
    }

    .brand-title {
      font-family: $font-semiBold;
      font-size: 4rem;
      line-height: 5.2rem;
      color: $clr-base;
      @media only screen and (max-width: $media-mobile) {
        width: 3.6rem;
        height: 3.6rem;
        font-size: 2.8rem;
        line-height: 4rem;
      }
    }
  }
  &.typ-structura-ezyfit{
    flex-direction: column;
    align-items: flex-start;
    .desc{
      font-size: 1.4rem;
      font-family: $font-regular;
      color: $clr-para;
      align-items: flex-start;
      padding-top: 1.6rem;
    }
    .left-wrapper{
      .brand-title{
        width: auto;
      }
    }
  }
  &.typ-durashine{
    flex-direction: column;
    align-items: flex-start;

    .desc{
      font-size: 1.4rem;
      font-family: $font-regular;
      color: $clr-para;
      align-items: flex-start;
      padding-top: 1.6rem;
      position: relative;
      left: 7rem;
      top: -2rem;
    }
  }
}

