@import "../config/variables";
@import "../config/mixin";

.cp-accordion {
  margin-bottom: 3rem;

  .acc-item {
    border-bottom: solid 1px $clr-border;
    @include transition(all, 0.5s, ease);

    @media only screen and (max-width: $media-mobile) {
      margin-inline: -1.6rem;
    }

    &.active {
      background: #FFF6F2;

      .acc-head {
        padding-bottom: 1.6rem;

        &:before {
          content: "\e922";
        }
      }

      // .acc-cont {
      //     display: block;
      //     @include transition(all, 0.5s, ease);
      // }
    }
  }

  .acc-head {
    position: relative;
    cursor: pointer;
    font-family: $font-semiBold;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $clr-base;
    padding: 2.2rem 4rem 2.2rem 2rem;

    &:before {
      content: "\e921";
      font-family: 'icomoon';
      position: absolute;
      font-size: 2.2rem;
      line-height: 2.4rem;
      color: $clr-primary;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      @include transition(all, 0.5s, ease);

      @media only screen and (max-width: $media-sm) {
        font-size: 2rem;
        line-height: 2.2rem;
      }
    }
  }

  .acc-cont {
    display: none;
    padding: 0 2rem 2rem;

    .acc-desc {
      font-family: $font-regular;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $clr-base;
      margin-bottom: 1.6rem;
    }
  }

  &.typ-policy {
    .acc-item {
      .acc-head {
        &::after {
          color: $clr-primary;
        }
      }

      .acc-cont {
        .acc-cont-wrap {
          .acc-cont-list {
            margin-bottom: 2rem;

            .acc-subTitle {
              font-family: $font-semiBold;
              font-size: 1.4rem;
              line-height: 2rem;
              color: $clr-base;
              margin-bottom: 0.8rem;
            }

            .cont-desc-wrap {

              .cont-desc-list {
                padding: 1rem 0;
                border-bottom: 1px solid $clr-border;

                .acc-desc {
                  font-family: $font-regular;
                  font-size: 1.4rem;
                  line-height: 2rem;
                  color: $clr-base;
                }
              }
            }
          }
        }
      }

      &.active {
        background-color: #f3f4f6;
        border-bottom: 1px solid $clr-border;
        ;
        border-top: 1px solid $clr-border;
        ;
      }
    }
  }

  .acc-item-card {

    .acc-head-card {
      position: relative;
      border-bottom: 1px solid $clr-border;
      padding-bottom: 1.6rem;
      @media only screen and (max-width: $media-mobile) {
        padding: 1.2rem 1.2rem;
      }
      &:before {
        content: none;
        font-family: 'icomoon';
        position: absolute;
        font-size: 2.2rem;
        line-height: 2.4rem;
        color: $clr-base;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        @include transition(all, 0.5s, ease);


        @media only screen and (max-width: $media-sm) {
          font-size: 1.4rem;
          line-height: 1.8rem;
          content: "\e90e";
        }
      }
    }


    &.active {
      .acc-head-card {
        &:before {
          content: none;
          @media only screen and (max-width: $media-sm) {  content: "\e92a";}
        }
      }

    }
  }

  .acc-cont-card {
    @media only screen and (max-width: $media-mobile) {
      padding: 0 1.2rem;
    }
  }

  .typ-pravesh-card {
    @media only screen and (max-width: $media-mobile) {
      padding: 0;
    }

    .sec-sub-title {
      padding-bottom: 0;
    }
  }
}