@import "../config/variables";
@import "../config/mixin";

.cp-blog{
    max-width: 29.6rem;
    @include border-radius(1.6rem);
    border: 1px solid $clr-border;
    @media only screen and (max-width: $media-mobile) {
        @include border-radius(1.2rem);
    }
    .img-wrap{
        @include border-radius(1.6rem);
        height: 16.8rem;
        display: block;    
        img {
            @include border-radius(1.6rem);
            object-fit: contain;
        }
        @media only screen and (max-width: $media-mobile) {
            max-height: 14.4rem;
            @include border-radius(1.2rem);
            img{
                @include border-radius(1.2rem);
            }
        }
    }
    .content-wrap{
        padding: 1.8rem 1.6rem 1.6rem;
        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem;
        }
        .tag-list{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 1.8rem;
            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 1.6rem;
            }
            .tag-item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.8rem;
                &:first-child{
                    width: 80%;
                }
                .tag{
                    background: #D8E5F8;
                    @include border-radius(0.4rem);
                    font-family: $font-medium;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    color: #333333; 
                    padding: 0.4rem 0.8rem;
                    @media only screen and (max-width: $media-mobile) {
                    }
                }
            }
        }
        .icon{
            font-size: 2.4rem;
            line-height: 2.4rem;
            color: #999999;
            cursor: pointer;
            &.active{
                color: $clr-secondary;
            }
        }

        .c-title{
            font-family: $font-semiBold;
            font-size: 1.6rem;
            line-height: 2.3rem;
            color: #333333;
            margin-bottom: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .post-date{
            border-top: 1px solid $clr-border;
            padding-top: 1.2rem;
            .post-detail{
                color: $clr-para;
                font-family: $font-regular;
                font-size: 1.2rem;
                line-height: 1.6rem;
                padding: 0 1rem;
                position: relative;
                &::before{
                    content: '';
                    background: $clr-para;
                    width: 1px;
                    height: 1.2rem;
                    position: absolute;
                    top: 50%;
                    @include transform(translateY(-50%));
                    left: 0rem;
                }
                &:first-child {
                    &::before{
                        display: none;padding-left: 0;
                    }
                }
            }
        }
    }
}