
@import "../config/variables";
@import "../config/mixin";


.cp-bottom-sticky{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid #dedede;
    background: $clr-root;
    padding: 2.6rem 0;
    z-index: 10;
    display: none;
    @media only screen and (max-width: $media-mobile) {
        display: block;
    }
    .bottom-nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

     }
     .nav-list-item{
        font-size: 1rem;
        color: #666;
        font-family: $font-semiBold;
        line-height: 1.2rem;
        text-align: center;
        .nav-link{
            color: #666;
        }
        &:hover{
            .nav-link{
                color: $clr-primary
    
            }
        }
     }
     .icon{
        display: block;
        font-size: 1.6rem;
        padding-bottom: 0.5rem;
     }
}