
@import "../config/variables";
@import "../config/mixin";

    .cp-brand{
        background: $clr-root;
        width: 190px;
        height: 190px;
        border-radius: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #dedede;
        margin-right: 2rem;
        padding: 3rem;
        @media only screen and (max-width: $media-mobile) {
            width: 10.6rem;
            height: 10.6rem;
            margin-right: 1rem;
            padding: 1rem;
            margin-bottom: 2rem;
        }
        img{
            width: 14.0rem;
            height: 10rem;
            @media only screen and (max-width: $media-mobile) {
                width: 8.8rem;
                height: 6.3rem;
            }
        }
    }
