@import "../config/variables";
@import "../config/mixin";

.cp-cart-card {
    background: $clr-root;
    padding: 1.6rem 2.4rem;

    @media only screen and (max-width: $media-mobile) {
        margin-left: -3rem;
        padding: 1.6rem 1.2rem;
    }

    .bottom-link-list {
        display: flex;
        justify-content: flex-end;
        gap: 2.4rem;
        padding: 2rem 0;

        @media only screen and (max-width: $media-mobile) {
            justify-content: flex-start;
        }

        .link-item {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            gap: 0.4rem;
            align-items: center;

            &:after {
                position: absolute;
                right: -10px;
                top: 0;
                height: 20px;
                width: 1px;
                background: #DEDEDE;
                content: '';
            }

            .link-text {
                font-size: 1.4rem;
                color: $clr-primary;
                font-family: $font-medium;
                text-decoration: underline;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                }
            }

            .icon {
                font-size: 2.4rem;
                color: $clr-primary;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.4rem;
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &.typ-tiscon-pdp {
        .cart-list {
            display: block;
            border-bottom: 0;
            margin: 1.6rem 0 2.4rem;

            .list-item {
                width: 20%;
                padding: 1.6rem;

                @media only screen and (max-width: $media-mobile) {
                    padding: 1.2rem;
                }

                & .list-head {
                    padding: 0.6rem;
                }

                &.text-center {
                    text-align: center;
                }

                &.text-left {
                    text-align: left;
                }

                &.text-right {
                    text-align: right;
                }
            }

            .sepretor {
                border-bottom: 1px solid #dedede;
            }

            &::after {
                background-color: #dedede;
                width: 106%;
                position: absolute;
                left: -23px;
                bottom: 0;
                content: '';
                height: 1px;

                @media only screen and (max-width: $media-mobile) {
                    width: 109%;
                    left: -15px;
                }
            }
        }

        .tag-label {
            border-radius: 26px;
            background: $clr-secondary;
            color: $clr-root;
            font-size: 1.2rem;
            font-family: $font-medium;
            text-align: center;
            padding: 0.2rem 0.8rem;
            position: absolute;
            left: 150px;
            top: 10px;
        }

        .btn.delete-btn {
            &::after {
                width: 90%;
                left: auto;
                right: 0;
            }
        }
    }

    &.typ-pravesh-card {

        @media only screen and (max-width: $media-mobile) {
            margin-left: 0;
            border-bottom: 0.8rem #F3F4F6 solid;
            border-radius: 0;

        }

        &.mr-t {
            margin-top: 2rem;

            @media only screen and (max-width: $media-mobile) {
                margin-top: 0;
            }
        }

        .sec-sub-title {
            font-family: $font-semiBold;
        }

        .border-b {
            border-bottom: 1px solid #DEDEDE;
        }
    }

    &.typ-pravesh {
        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem 1.2rem;
            display: flex;
            gap: 1.6rem;
            margin-left: 0;
        }

        .sec-head {
            @media only screen and (max-width: $media-mobile) {
                order: 2;
            }
        }

        .sec-desc {
            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
            }
        }

        .sec-cont {
            @media only screen and (max-width: $media-mobile) {
                flex: 0 0 60px;
            }
        }

        .action-wrap {
            .icon {
                &.active {
                    color: #D2042D;
                }
            }
        }
    }
}