@import "../config/variables";
@import "../config/mixin";

.cp-calculate-material{
    display: flex;
    justify-content: space-between;
    .lhs{
        width: 48%;
        border: 1px solid #dedede;
        border-radius: 16px;
        overflow: hidden;
        @media only screen and (max-width: $media-tab) {
            width: 100%;
            border: 0;
        }
    }
    .rhs{
        width: 50%;
        @media only screen and (max-width: $media-tab) {
            width: 100%;
            display: none;
        }        
    }
    .calculate-img-list{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .img-item{
            &:nth-child(1){
                .img-first{
                    height: 14.4rem;
                    margin-bottom: 2rem;
                }
                img{
                    height: 24.4rem;
                }
            }
            img{
                @include border-radius(1.6rem);
                width: 29.7rem;
                height: 40.8rem;
            }
        }
    }
    &.typ-wiron{
        .sec-head{
            padding: 0;
            @media only screen and (max-width: $media-tab) { 
                padding: 0 1.6rem;
            }
        }
        @media only screen and (max-width: $media-tab) { 
            .rhs{
                display: block;
                width: 100%;
            }
            .lhs{
                display: none;
            }
        }
        .calculate-img-list{
            .img-item{
                &:nth-child(1){
                    .img-first{
                        height: 14rem;
                        margin-bottom: 2rem;
                    }
                    img{
                        height: 24rem;    
                    }
                }
                img{
                    @include border-radius(1.6rem);
                    width: 29.7rem;
                    height: 40rem;
                }           
            }
        }
    }
}