
@import "../config/variables";
@import "../config/mixin";


.cp-counter{
    border: 1px solid #dedede;
    border-radius:12px;
    width: 100%;
    max-width: 14.4rem;
   font-size: 1.6rem;
   color: $clr-base;
   display: flex;
   overflow: hidden;
   font-family: $font-medium;

   .btn-count{
    width: 4.8rem;
    height: 4.8rem;
    background-color: $clr-bg;
    font-size: 2.4rem;
    font-family: $font-medium;
   }
   .number-product{
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;

   }
   &.typ-cart{
    max-width: 11.1rem;
    .btn-count{
        width: 3.2rem;
        height: 3.2rem;
    
    }
    .number-product{
        width: 4.5rem;
        height: 3.2rem;
    }
   }
}