@import "../config/variables";
@import "../config/mixin";

.cp-cart{
.cart-head{
    display: flex;
    justify-content: space-between;
    .sec-title{
        position: relative;
      }
}
.top-share-list{
    display: flex;
    justify-content: flex-start;
    .icon{
      width: 4rem;
      height: 4rem;
      background: #F3F4F6;
      font-size: 2.4rem;
      border-radius: 8px;
      color: #999;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.8rem;
    }
  }
  .count{
    background: $clr-secondary;
    border-radius: 26px;
    color: $clr-root;
    font-size: 2rem;
    font-family: $font-medium;
    text-align: center;
    position: absolute;
  right: -58px;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 28px;
  }
  .cart-prod-wrapper{
    border: 1px solid #DEDEDE;
    background: #ECF2FB;
    border-radius: 16px;
    padding:1.6rem 2.4rem;
    margin-top: 2.6rem;
    position: relative;
    z-index: 2;
    @media only screen and (max-width: $media-mobile){
        padding: 1.6rem 1.2rem;
    }
    .prod-head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        @media only screen and (max-width: $media-mobile){
            align-items: flex-start;
        }
        .prod-item{
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 2rem;
            color: #00398C;
            font-family: $font-semiBold;

            .logo-wrap{
                width: 4.8rem;
                height: 4.8rem;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
            }
            .desc{
                font-size: 1.4rem;
                font-family: $font-regular;
                color: $clr-base;
                display: block;
            }
            &.typ-grey{
                color: $clr-base;
            }
        }
    }
    .coupon-code-info{
        border-radius: 8px;
        border: 2px dashed #999999;
        padding: 1rem;
        background: $clr-root;
        margin-top: 1.2rem;
        position: relative;
        .code-info{
            font-size: 1.2rem;
            color: $clr-base;
            font-family: $font-regular;
            display: block;
        
        }
        .code{
            font-size: 1.2rem;
            font-family: $font-medium;
            color: #00A441;
            text-align: center;
            border: 1px dashed #00A441;
            background: #E5F6EC;
            border-radius: 4px;
            padding: 0.2rem 0.8rem;
            display: inline-block;
            margin-top: 0.8rem;
        }
        .btn-link{
            text-decoration: underline;
            position: absolute;
            right: 12px;
            bottom: 12px;
            font-size: 1.4rem;
            font-family: $font-medium;
        }
    }
  }
  .requirment-wrap{
    display: flex;
    gap:2rem;
  }
  .bottom-notify{
    background: #5A245A;
    display: flex;
    padding: 5rem 2.4rem 2rem;
    border-radius: 0 0 12px 12px;
    margin-top: -1rem;
    position: relative;
    z-index: 1;
    top: -2rem;
    align-items: center;
    gap:1.2rem;
    @media only screen and (max-width: $media-mobile){
        padding: 4.5rem 1rem 3.5rem;
    }
    .icon{
        width: 3.6rem;
    height: 3.6rem;
    background: $clr-root;
    border-radius: 50%;
    color: #5A245A;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .notify-text{
        color: $clr-root;
        font-size: 1.4rem;
        font-family: $font-regular;
        width: 80%;

    }
    .notify-link{
        color: $clr-root;
        text-decoration: underline;
        font-size: 1.4rem;
        @media only screen and (max-width: $media-mobile){
            position: absolute;
            bottom: 11px;
            left: 57px;
        }
    }
  }
}