@import "../config/variables";
@import "../config/mixin";


.cp-calculate-material{
    display: flex;
    justify-content: space-between;
    .lhs{
        width: 48%;
        border: 1px solid $clr-border;
        border-radius: 16px;
        overflow: hidden;
        @media only screen and (max-width: $media-tab) {
            width: 100%;
            border: 0;
        }
    }
    .rhs{
        width: 50%;
        @media only screen and (max-width: $media-tab) {
            display: none;
        }
        .calculate-img-list{
            display: flex;
            justify-content: space-between;
            .img-item{
               &:nth-child(1){
                .img-first{
                    height: 14.4rem;
                    margin-bottom: 2rem;
                }
                img{
                    height: 24.4rem;

                }
               }
                img{
                    border-radius: 16px;
                    width: 29.7rem;
                    height: 40.8rem;
                }
               
            }
        }
    }
}