@import "../config/variables";
@import "../config/mixin";

.cp-drawer{
    width: 50.5rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -9999px;
    z-index: 5;
    background: $clr-root;
    padding: 1.6rem 1.2rem 1.6rem 1.6rem;
    @include transition(all, 0.6s, ease-in-out);
    @include border-radius(2.4rem 0 0 2.4rem);   
    display: none;
    &.active{
        right: 0;
        display: block;
    }
    @media only screen and (max-width: $media-mobile) {
        width: 100%;
        height: 90vh;
        top: auto;
        right: 0;
        bottom: -99999px;
        @include border-radius(2.4rem 2.4rem 0 0);
        &.active{
            bottom: 0;
        }
    }
    .head-sec{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.2rem 0;
        .drawer-title{
            font-family: $font-medium;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #333333;
        }
        .icon.icon-close{
            font-size: 2.2rem;
            color: #999999;
        }
    }
    .cont-wrap{
        height: 100vh;
        overflow: hidden;
        overflow-y: auto;
    }
}