@import "../config/variables";
@import "../config/mixin";

.cp-dealer-card{
    border: 1px solid #dedede;
    border-radius: 16px;
    padding: 2.2rem;
    transition: box-shadow 2s;

    @media only screen and (max-width: $media-mobile) {
        padding: 1.6rem;
    }
    &:hover{
        box-shadow: 0px 8px 24px 0px #00000014;
        border: 2px solid #DEDEDE;
    }
    .top-band{
        display: flex;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
        .band-tag{
            background: #D8E5F8;
            border-radius: 4px;
            text-align: center;
            font-size: 1.2rem;
            color: $clr-base;
            font-family: $font-medium;
            padding: 0.4rem;
            margin-right: 0.8rem;
            margin-bottom: 0.9rem;
        }
    }
    .dealer-info{
        .title{
            font-family: $font-semiBold;
            font-size: 1.6rem;
            color: $clr-base;
        }
        .location-sec{
            display: flex;
            flex-wrap: wrap;
            max-width: 28rem;
            margin-top: 0.5rem;
            .location-text{
                font-size: 1.2rem;
                font-family: $font-regular;
                color: #808080;
                position: relative;
                padding-right: 1rem;
                &:nth-child(1){
                    &::after{
                        background-color: #808080;
                        width: 1px;
                        height: 12px;
                        content: '';
                        position: absolute;
                        right: 4px;
                        top: 3px;
                    }
                }
            }
        }
        .rating-sec{
            display: flex;
            .rating-cont{
                font-size: 1.2rem;
                font-family: $font-regular;
                color: #808080;
                margin-top: 1.2rem;
                &:nth-child(1){
                    background: #D2042D;
                    font-size: 1.2rem;
                    color: $clr-root;
                    width: 4.9rem;
                    border-radius: 26px;
                    text-align: center;
                    margin-right: 1rem;
                }
            }
        }
    }
}