@import "../config/variables";
@import "../config/mixin";

.cp-drawer{
    width: 50.5rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -999px;
    z-index: 9;
    background: $clr-root;
    padding: 2.4rem 3.2rem 2.4rem 2rem;
    @include transition(all, 0.8s, ease-in-out);
    overflow: hidden;
    overflow-y: auto;
    &.active{
        right: 0;
    }
    @media only screen and (max-width: $media-mobile) {
        width: 100%;
        height: 90vh;
        top: auto;
        right: 0;
        bottom: -999px;
        padding: 1.6rem 1.2rem 1.6rem 1.6rem;
        @include border-radius(2.4rem 2.4rem 0 0);
        &.active{
            bottom: 0;
            right: auto;
        }
    }
    .head-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 0;
        .drawer-title{
            font-family: $font-medium;
            font-size: 2.4rem;
            line-height: 3.2rem;
            color: #333333;
            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
        .icon.icon-close{
            position: absolute;
            top: 2.4rem;
            right: 3.2rem;
            font-size: 2.2rem;
            color: #999999;
            @media only screen and (max-width: $media-mobile) {
                right: 1.6rem;
            }
        }
    }
    &.typ-prod-detail{
        padding-top: 4rem;
    }
}