@import "../config/variables";
@import "../config/mixin";

.cp-ecommerce-banner{
  position: relative;
  max-width: 100%;
  height: 36rem;
  border-radius: 1.6rem;
  @media only screen and (max-width: $media-mobile) {
    height: 20.6rem;
    border-radius: 1.2rem;
  }
   .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.6rem;
        @media only screen and (max-width: $media-mobile) {
            border-radius: 1.2rem;
          }
    }

  .banner-desc{
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    @media only screen and (max-width: $media-mobile) {
        left: 1.6rem;
      }

    .icon{
        min-height: 3.2rem;
        border: 1px solid red;
        font-size: 2.2rem;
        @media only screen and (max-width: $media-mobile) {
            left: 5rem;
          }
    }
    .title{
        max-width: 50rem;
        font-size: 3.6rem;
        line-height: 4.8rem;
        font-family: $font-semiBold;
        color: $clr-root;
        margin-bottom: 0.4rem;
        @media only screen and (max-width: $media-mobile) {
            font-size: 1.6rem;
            line-height: 2.4rem;
            max-width: 20rem;
            margin-bottom: 0.2rem;
          }
    }
    .desc{
        max-width: 30rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-family: $font-regular;
        color: $clr-root;
        margin-bottom: 2.4rem;
        @media only screen and (max-width: $media-mobile) {
            font-size: 1.4rem;
            line-height: 2rem;
            max-width: 25rem;
          }
    }
    .shop-banner{
      background-color: $clr-root;
      color: $clr-base;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-family: $font-medium;
      padding: 1.2rem 1.6rem;
      @media only screen and (max-width: $media-mobile) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 0.8rem 1rem;
      }
    }
  }
}