@import "../config/variables";
@import "../config/mixin";

.cp-ecommerce-banner {
  position: relative;
  max-width: 100%;
  height: 36rem;
  @include border-radius(1.6rem);
  @media only screen and (max-width: $media-mobile) {
    height: 20.6rem;
    @include border-radius(1.2rem);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include border-radius(1.6rem);
    @media only screen and (max-width: $media-mobile) {
      @include border-radius(1.2rem);
    }
  }

  .content-wrap {
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    max-width: 50rem;
    @media only screen and (max-width: $media-mobile) {
      left: 1.6rem;
      max-width: 22.4rem;
    }

    .logo {
      width: 16rem;
      height: 3.2rem;
      margin-bottom: 0.4rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media only screen and (max-width: $media-mobile) {
        margin-bottom: 1rem;
        width: 8.5rem;
        height: 1.6rem;
      }
    }

    .title {
      font-size: 3.6rem;
      line-height: 4.8rem;
      font-family: $font-semiBold;
      color: $clr-root;
      margin-bottom: 0.4rem;
      @media only screen and (max-width: $media-mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 0.2rem;
      }
    }
    .desc {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-family: $font-regular;
      color: $clr-root;
      max-width: 28rem;
      margin-bottom: 2.4rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media only screen and (max-width: $media-mobile) {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1rem;
      }
    }
    .shop-banner {
      background-color: $clr-root;
      color: $clr-base;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-family: $font-medium;
      padding: 1.2rem 1.6rem;
      @media only screen and (max-width: $media-mobile) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 0.8rem 1rem;
      }
    }
  }
}
