@import "../config/variables";
@import "../config/mixin";

.cp-footer{
    padding-top: 4.8rem;
    background-color: $clr-bg;
    @media only screen and (max-width: $media-mobile) {}
    .footer-catagery{
        display: flex;
        margin-bottom: 2.4rem;
    @media only screen and (max-width: $media-mobile) {
        flex-wrap: wrap;
    }

        .footer-link{
            margin-right: 4.8rem;
            max-width: 22rem;
            min-width: 22rem;
            @media only screen and (max-width: $media-mobile) {
                max-width: 15.5rem;
                min-width: 15.5rem;
                margin-right: 1.6rem;
            }
            
            &:last-child{
                margin-right: 0;
            }
            .footer-link-title{
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $clr-base;
                font-family: $font-semiBold;
                margin-bottom: 1.2rem;
            }
            .f-link{
                margin-bottom: 1.2rem;
                .link{
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: $clr-base;
                    font-family: $font-regular;
                }
            }
        }
    }
    .brand-bar{
        padding: 2.4rem 0;
        border: 1px solid $clr-base;
        border-left: 0;
        border-right: 0;
        display: flex;
        justify-content: space-between;
        .lhs{
            display: flex;
            align-items: center;
            .brand-logo{
                width: 12rem;
                height: 4.6rem;
                margin-right: 2.4rem;
            }
            .policy-wrap{
                .policy-list{
                display: flex;
                align-items: center;
                .policy-item{
                    padding: 1.4rem 2rem; 
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: $clr-base;
                    font-family: $font-semiBold;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        width: 1px;
                        background-color: $clr-base;
                    }
                    &:first-child{
                        padding-left: 0;
                        &::before{
                            content: none;
                        }
                    }
                    .policy-link{
                        color: $clr-base;
                    }

                }
            }
            }
        }
        .rhs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .media-wrap{
                .media-title{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-family: $font-semiBold;
                    color: $clr-base;
                    margin-right: 1.6rem;
                }
            }
        }
    }
    .copywright{
        font-size: 1.4rem;
        line-height: 2rem;
        font-family: $font-semiBold;
        color: $clr-base;
        padding: 2.4rem 0;
        display: block;
    }
}