@import "../config/variables";
@import "../config/mixin";

.cp-header{
    padding: 1.6rem 0 0;
    border-bottom: 1px solid $clr-border;
    @include transition(all, 0.3s, ease);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $clr-root;
    z-index: 8;
    @media only screen and (max-width: $media-mobile) {
        padding-bottom: 4rem;
    }
  
    .top-sec{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.6rem;
        @media only screen and (max-width: $media-mobile) {
            justify-content: flex-start;
            position: relative;
        }

        .lhs{
            display: flex;
            justify-content: space-between;
            
            .logo-wrap{
                width: 120px;
                height: 56px;
                margin-right: 5rem;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    background: #dedede;
                    right: -12px;
                    top: 11px;
                    height: 37px;
                    width: 2px;
                }
            }
            .location-wrap{
                margin-right: 4rem;
                @media only screen and (max-width: $media-mobile) {
                    width: 100%;
                    position: absolute;
                    bottom: -31px;
                    left: 0;
                    margin-right: 0;

                }
            }
            .icon-edit{
                display: none;
                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.8rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: block;
                }
            }
            .map-icon{
                font-size: 1.5rem;
            }
            .location-text{
                font-size: 1.4rem;
                color: $clr-base;
                font-family: $font-regular;
                @media only screen and (max-width: $media-mobile) {
                    width: 90%;
                }
            }
            .update-location{
                font-size: 1.2rem;
                font-family: $font-medium;
                color: $clr-primary;
                text-decoration: underline;
                padding-right: 2.4rem;
                display: block;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
            }
        }
        .rhs{
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding-left: 3rem;
            @media only screen and (max-width: $media-mobile) {
               position: absolute;
               bottom: -33px;
               padding-left: 0;
               width: 100%;
               z-index: 1;
            }
            
            .icon{
                display: none;
                @media only screen and (max-width: $media-mobile) {
                    font-size: 2.4rem;
                    color: #999;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .btn-order{
                font-size: 1.4rem;
                padding: 0.7rem 1.5rem;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
            }
            .quick-link-list{
                display: flex;
                align-items: center;
                @media only screen and (max-width: $media-mobile) {
                    position: absolute;
                    top:-88px;
                    right: 0;
                }
                .quick-link-icon-item{
                    position: relative;
                    padding: 0 1.2rem;
                    @media only screen and (max-width: $media-mobile) {
                        padding: 0;
                    }
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3){
                        @media only screen and (max-width: $media-mobile) {
                            display: none;
                        }
                    }
                    &:last-child{
                        .quick-link-item{
                        &::after{
                            content: "";
                            height: 2.4rem;
                            background-color: #CCCCCC;
                            width: 1px;
                            position: absolute;
                            left: 0;
                            top:0;
                            @media only screen and (max-width: $media-mobile) {
                                top:-2px;
                                height: 3rem;
                                left: -8px;
                            }
                        }
                    }
                    }
                }
                .quick-link-item{
                    font-size:2.4rem;
                    color: #999;
                    
                }
            }
        }
    }
    .bottom-sec{
        border-top: 1px solid #DEDEDE;
        .container{
            display: flex;
            justify-content: space-between;
        }
        .nav-list{
          display: flex;
          @media only screen and (max-width: $media-mobile) {
            display: none;
            left: -100%;
            transition: all ease 0.7s;
            position: fixed;

        }
        &.active{
            opacity: 1;
            display: block;
            width: 100%;
            top: 0;
            background: #fff;
            height: 100%;
            left: 0;
            padding: 1rem;
            z-index: 1;
            padding: 5rem;
        }
        .nav-item{
            position: relative;
            padding: 1.8rem 1rem;
            display: flex;
            align-items: center;
            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 2rem;
            }
            .nav-icon{
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                align-items: center;
                &.typ1{
                    background: #FFF1CC;
                    color: #A77800;
                }
                &.typ2{
                    background: #F6CDD5;
                    color:#D2042D;
                }
                &.typ3{
                    background:#CCEDD9;
                    color:#00A441;
                }
                &.typ4{
                    background:#FCDACC;
                    color:#EE4400;
                }
                &.typ5{
                    background:#D8E5F8;
                    color:#3D7EDB;
                }
                &.typ6{
                    background:#DED3DE;
                    color:#5A245A;
                }
            }
            .nav-link{
                font-size: 1.4rem;
                font-family: $font-semiBold;
                padding: 0 2rem;
                position: relative;
                background-size: 200% 100%;
                background-position: -100%;
                background-image: linear-gradient(to right, $clr-primary,    $clr-primary 50%,$clr-base 50%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
                @media only screen and (max-width: $media-mobile) {
                    padding: 0;
                } 
                 &::after{
                     content: "";
                     height: 2.4rem;
                     background-color: #CCCCCC;
                     width: 1px;
                     position: absolute;
                     right: 0;
                     top:0px;
                     @media only screen and (max-width: $media-mobile) {
                        display: none;
                     }
                 }
                //  &::before{
                //     content: '';
                //     background: #54b3d6;
                //     display: block;
                //     position: absolute;
                //     bottom: -3px;
                //     left: 0;
                //     width: 0;
                //     height: 3px;
                //     transition: all 0.3s ease-in-out;
                    
                // }
                &:hover{
                    background-position: 0;
                    // &:before{
                    //     width: 100%;
                    // }
                }
            }  
            &:last-child{
                .nav-link{
                    &::after{
                        display: none;
                    }
                }
            } 
            .sub-nav-menu{
                display: block;
                background-color: $clr-root;
                transition: all ease 0.3s;
                position: absolute;
                top: 44px;
                left: 0;
                z-index: 2;
                width: 124rem;
                padding: 2.4rem;
            }
            &:hover{
                .sub-nav-menu{
                    display: block;
                }
            }
        }
        
        }
    }
    .hamburger-menu{
        display: none;
        @media only screen and (max-width: $media-mobile) {
            display: block;
        }
        .open-menu{
            width: 40px;
            height: 40px;
            position: relative;
            z-index: 2;
            cursor: pointer;
            border-radius: 5px;
            span{
                display: inline-block;
                position: absolute;
                width: 52%;
                left: 0px;
                height: 2px;
                border-radius: 2px;
                background: #999999;
                transition: all .4s;
                &:nth-child(1){
                    top:21px;
                }
                &:nth-child(2){
                    top:26px;
                }
                &:nth-child(3){
                    top:31px;
                }
            }
            &.active{
                span{
                    &:nth-child(1) {
                        top: 18px;
                        left: 0px;
                        transform: translateY(6px) rotate(-45deg);
                        width: 40%;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        top: 30px;
                        left: 0px;
                        transform: translateY(-6px) rotate(45deg);
                        width: 40%;
                    }
                }
            }

        }
    }
}