@import "../config/variables";
@import "../config/mixin";

.cp-header{
    padding: 1.6rem 0 0;
    border-bottom: 1px solid $clr-border;
    @include transition(all, 0.3s, ease);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $clr-root;
    z-index: 8;
    @media only screen and (max-width: $media-mobile) {
        padding-bottom: 4rem;
    }
  
    .top-sec{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.6rem;
        @media only screen and (max-width: $media-mobile) {
            position: relative;
            
        }

        .lhs{
            display: flex;
            justify-content: space-between;
            
            .logo-wrap{
                width: 12rem;
                height: 5.6rem;
                margin-right: 4rem;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    background: $clr-border;
                    right: -12px;
                    top: 11px;
                    height: 37px;
                    width: 2px;
                    @media only screen and (max-width: $media-mobile) {
                        display: none;
                    }

                }
            }
            .location-wrap{
                margin-right: 4rem;
                @media only screen and (max-width: $media-mobile) {
                    width: 100%;
                    position: absolute;
                    bottom: -31px;
                    left: 0;
                    margin-right: 0;

                }
            }
            .icon-edit{
                display: none;
                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.8rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: block;
                }
            }
            .map-icon{
                font-size: 1.5rem;
            }
            .location-text{
                font-size: 1.4rem;
                color: $clr-base;
                font-family: $font-regular;
                @media only screen and (max-width: $media-mobile) {
                    width: 90%;
                }
            }
            .update-location{
                font-size: 1.2rem;
                font-family: $font-medium;
                color: $clr-primary;
                text-decoration: underline;
                padding-right: 2.4rem;
                display: block;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
            }
            // &::after{
            //     content: '';
            //     position: absolute;
            //     right: 2.4rem;
            //     top: 4px;
            //     width: 1px;
            //     height: 100%;
            //     background: $clr-border;
            //     @media only screen and (max-width: $media-mobile) {
            //         display: none;
            //     }
            // }
        }
       
        .rhs{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding-left: 4.8rem;
            &::after{
                content: '';
                position: absolute;
                left: 2.4rem;
                top: 4px;
                width: 1px;
                height: 100%;
                background: $clr-border;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
            }
            @media only screen and (max-width: $media-mobile) {
               position: absolute;
               bottom: -33px;
               padding-left: 0;
               width: 100%;
               z-index: 1;
            }
            
            .icon{
                display: none;
                @media only screen and (max-width: $media-mobile) {
                    font-size: 2.4rem;
                    color: #999;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .btn-order{
                font-size: 1.4rem;
                padding: 0.7rem 1.5rem;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
            }
            .quick-link-list{
                display: flex;
                align-items: center;
                @media only screen and (max-width: $media-mobile) {
                    position: absolute;
                    top: -8.8rem;
                    right: 0;
                    gap: 0.8rem;
                }
                .quick-link-icon-item{
                    position: relative;
                    padding: 0 1.2rem;
                    @media only screen and (max-width: $media-mobile) {
                        padding: 0;
                    }
                    &:last-child{
                        .quick-link-item{
                            position: relative;
                            @media only screen and (max-width: $media-mobile) {
                                margin-left: 0.8rem;
                            }
                            &::after{
                                content: "";
                                height: 2.4rem;
                                background-color: #CCCCCC;
                                width: 1px;
                                position: absolute;
                                left: -0.8rem;
                                top: 0;
                                @media only screen and (max-width: $media-mobile) {
                                    top:-2px;
                                    height: 3rem;
                                }
                            }                          
                        }
                    }
                }
                .quick-link-item{
                    font-size:2.4rem;
                    color: #999;
                    position: relative;
                    &.active{
                        &:after{
                            content: '';
                            width: 0.6rem;
                            height: 0.6rem;
                            @include border-radius(50%);
                            background: $clr-secondary;
                            position: absolute;
                            right: 0;
                            top: 0;
                            display: inline-block;
                        }
                    }
                }
                
            }
        }
    }
    .bottom-sec{
        border-top: 1px solid $clr-border;
        .container{
            display: flex;
            justify-content: space-between;
        }
        .nav-list{
          display: flex;
          @media only screen and (max-width: $media-mobile) {
            display: none;
            left: -100%;
            transition: all ease 0.7s;
            position: fixed;

        }
        &.active{
            opacity: 1;
            display: block;
            width: 95%;
            top: 0;
            background: #fff;
            height: 100%;
            left: 0;
            padding: 1rem;
            z-index: 1;
            padding: 9rem 2.5rem 0;
            overflow-y: auto;
        }
        
        .nav-item{
            position: relative;
            padding: 1.8rem 1rem;
            display: flex;
            align-items: center;
            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 1rem;
                padding: 1.6rem 0;
                border-bottom: 1px solid $clr-border;
                flex-direction: column;
                align-items: flex-start;
            }
            .nav-icon{
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                align-items: center;
                @media only screen and (max-width: $media-mobile) {
                    display: none;
                }
                &.typ1{
                    background: #FFF1CC;
                    color: #A77800;
                }
                &.typ2{
                    background: #F6CDD5;
                    color:#D2042D;
                }
                &.typ3{
                    background:#CCEDD9;
                    color:#00A441;
                }
                &.typ4{
                    background:#FCDACC;
                    color:#EE4400;
                }
                &.typ5{
                    background:#D8E5F8;
                    color:#3D7EDB;
                }
                &.typ6{
                    background:#DED3DE;
                    color:#5A245A;
                }
            }
            .nav-link{
                font-size: 1.4rem;
                font-family: $font-semiBold;
                padding: 0 2rem;
                position: relative;
                background-size: 200% 100%;
                background-position: -100%;
                background-image: linear-gradient(to right, $clr-primary,    $clr-primary 50%,$clr-base 50%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
                width: 100%;
                @media only screen and (max-width: $media-mobile) {
                    padding: 0;
                    font-size: 1.6rem;
                    margin-bottom: 1.6rem;
                    pointer-events: none;
                } 
                 &::after{
                     content: "";
                     height: 2.4rem;
                     background-color: #CCCCCC;
                     width: 1px;
                     position: absolute;
                     right: 0;
                     top:0px;
                     @media only screen and (max-width: $media-mobile) {
                        display: none;
                     }
                 }
                //  &::before{
                //     content: '';
                //     background: #54b3d6;
                //     display: block;
                //     position: absolute;
                //     bottom: -3px;
                //     left: 0;
                //     width: 0;
                //     height: 3px;
                //     transition: all 0.3s ease-in-out;
                    
                // }
                &:hover{
                    background-position: 0;
                    @media only screen and (max-width: $media-mobile) {
                        background-position: -100%;
                    }
                }
            }  
            &:last-child{
                .nav-link{
                    &::after{
                        display: none;
                    }
                }
            } 
            .sub-nav-menu{
                display: none;
                background-color: $clr-root;
                transition: all ease 0.3s;
                position: fixed;
                top: 19rem;
                // top: 17.8%;
                left: 6%;
                z-index: auto;                
                max-width: 124rem;
                width: 100%;
                margin: 0 auto;
                padding: 2.4rem;
                box-shadow: 0px 8px 20px 0px #00000026;
                @include border-radius(2.4rem);
                @media only screen and (max-width: $media-laptop){
                    // top: 20rem;
                    top: 19%;
                    left: 0;
                    display: block !important;
                }   
                @media only screen and (max-width: $media-mobile){
                    border-radius: 0;
                    box-shadow: none;
                    padding: 0;
                    left: auto;
                    top: 0;
                    position: relative;
                    width: 100%;
                }
                &.active{
                    display: block;
                }
            }
            &:hover{
                // .sub-nav-menu{
                //     display: block;
                // }
                .arrow{
                    display: block;
                }
            }
            .arrow{
                width: 0;
                height: 0;
                border-style: solid;
                border-right: 25px solid transparent;
                border-left: 25px solid transparent;
                border-bottom: 35px solid $clr-root;
                border-top: 0;
                display: none;
                position: absolute;
                left: 35%;
                // bottom: -46%;
                bottom: -4rem;
                @include border-radius(0.4rem);
                    @media only screen and (max-width: $media-laptop){
                        display: none;
                    }
                }
            }
        }
        .cp-search{
            display: none;
            @media only screen and (max-width: $media-mobile) {
                display: block;
            }
        }
        &.active{
            .search-wrap{
                @media only screen and (max-width: $media-mobile) {
                    display: block;
                    z-index: 9;
                    max-width: 27.1rem;
                }
            }
        }
        .close{
            color: #999;
            position: absolute;
            right: 1.6rem;
            top: 3rem;
            font-size: 2.4rem;
            display: none;
            z-index: 2;
        }
        &.active{
            .close{
                display: block;
            }
        }
    }
    .hamburger-menu{
        display: none;
        @media only screen and (max-width: $media-mobile) {
            display: block;
        }
        .open-menu{
            width: 40px;
            height: 40px;
            position: relative;
            z-index: 1;
            cursor: pointer;
            border-radius: 5px;
            span{
                display: inline-block;
                position: absolute;
                width: 52%;
                left: 0px;
                height: 2px;
                border-radius: 2px;
                background: #999999;
                transition: all .4s;
                &:nth-child(1){
                    top:21px;
                }
                &:nth-child(2){
                    top:26px;
                }
                &:nth-child(3){
                    top:31px;
                }
            }
            // &.active{
            //     span{
            //         &:nth-child(1) {
            //             top: 18px;
            //             left: 0px;
            //             transform: translateY(6px) rotate(-45deg);
            //             width: 40%;
            //         }
            //         &:nth-child(2) {
            //             opacity: 0;
            //         }
            //         &:nth-child(3) {
            //             top: 30px;
            //             left: 0px;
            //             transform: translateY(-6px) rotate(45deg);
            //             width: 40%;
            //         }
            //     }
            // }

        }
        
    }
    .profile-wrap{
        position: absolute;
        top: 6rem;
        left: 50%;
        box-shadow: 0px 4px 20px 0px #00000029;
        border: 1px solid $clr-border;
        background: $clr-root;
        padding: 0.8rem;
        @include border-radius(1.2rem);
        @include transform(translateX(-50%));
        z-index: 1;
        width: 20rem;        
        @media only screen and (max-width: $media-mobile) {
            @include transform(none);
            left: auto;
            right: 0;
        }
        .profile-list{
            display: flex;
            flex-direction: column;
            gap:0.8rem;
            .profile-item{
                &:last-child{
                    border-top: 1px solid $clr-border;
                }
            }
        }
        .profile-link{
            display: block;
            width: 100%;
            padding: 0.8rem;
            @include border-radius(0.4rem);
            color: $clr-para;
            font-size: 1.2rem;
            line-height: 2rem;
            font-family: $font-regular;
            @include transition(all, 2s, ease);
            .tag{
                background: $clr-secondary;
                font-size: 1.2rem;
                font-family: $font-regular;
                border-radius: 2.6rem;
                text-align: center;
                color: $clr-root;
                padding: 0rem 0.8rem;
                display: inline-block;
                margin-left: 0.5rem;
            }
            &:hover,
            &.active{
                background: $clr-bg;
                color: $clr-base;
            }
        }
    }
    .head-search-wrap{
        background: $clr-root;
        position: fixed;
        top: 0;
        width: 95%;
        left: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
        @media only screen and (max-width: $media-mobile) {
            display: block;
        }
        .cp-search{           
            @media only screen and (max-width: $media-mobile) {
                margin: 2rem;
                width: 88%;
            }
        }        
    }
}
.profile-wrap,
.sub-nav-menu,
.open-inner-menu,
.open-region-menu,
.open-budget-menu,
.open-category-menu {
    display: none; /* Hide by default */
}
.profile-wrap.active,
.sub-nav-menu.active,
.open-inner-menu.active,
.open-region-menu.active,
.open-budget-menu.active,
.open-category-menu.active {
    display: block ; /* Show when active */
    &.menu-list{
        height: calc(100vh - 9rem);
    }
}
