@import "../config/variables";
@import "../config/mixin";

.calculate-img-list{
    display: flex;
    justify-content: space-between;
    .img-item{
        &:nth-child(1){
            .img-wrap{
                .img-first{
                    height: 14.4rem;
                    margin-bottom: 2rem;
                }
                height: 24.4rem;
            }
        }
        .img-wrap{
            @include border-radius(1.6rem);
            width: 29.7rem;
            height: 40.8rem;
        }
       
    }
}