@import "../config/variables";
@import "../config/mixin";

.cp-notify{
    margin-top: 2.4rem;
    padding: 1.6rem 2.4rem;
    @include border-radius(1.6rem);
    background-color: $clr-primary;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    @media only screen and (max-width: $media-mobile) {
        margin-top: 1.6rem;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1.6rem;
    }
    .cont-wrap{
        flex-grow: 3;
        position: relative;
        z-index: 2;
    }
    .btn-wrap{
        flex-grow: 1;
    }
    .notify-icon {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        @include transform(translateY(-50%));
        z-index: 1;
        color: #6498E2;
        font-size: 9.6rem;
        @media only screen and (max-width: $media-mobile) {
            @include transform(none);
            top: -1.6rem;
            right: -1.8rem;
        }
        &.icon-search{
            @media only screen and (max-width: $media-mobile) {
                @include transform(none);
                top: -1rem;
                right: -1.5rem;
            }
        }
    }

    .notify-title{
        font-family: $font-semiBold;
        font-size: 3.6rem;
        line-height: 4.8rem;
        color: $clr-root;
        margin-bottom: 0.5rem;
        @media only screen and (max-width: $media-mobile) {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 0.8rem;
        }

        &.typ-title-size{
            @media only screen and (max-width: $media-mobile) {
                max-width: 80%;
            }    
        }
    }
    .notify-desc{
        font-family: $font-regular;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $clr-root;
        @media only screen and (max-width: $media-mobile) {
            margin-bottom: 1.6rem;
        }
    }
    .notify-btn{
        padding: 1.1rem 1.6rem;
        min-width: 14rem;
        @media only screen and (max-width: $media-mobile) {
            padding: 0.9rem 1.6rem;
            font-size: 1.4rem;
            line-height: 2rem;
            min-width: 12.3rem;
        }
    }
    &.typ-need-expert{
        padding: 2.4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;
        margin-top: 0;
        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem;
            gap: 0;
        }
        .notify-title{
            margin-bottom: 0.8rem;
        }
        .notify-btn{
            min-width: auto;
        }
        .notify-icon{
            font-size: 11.6rem;
            @media only screen and (max-width: $media-mobile) {
                font-size: 9.6rem;
            }
            &.icon-brochure{
                font-size: 8.6rem;
                @media only screen and (max-width: $media-mobile) {
                    @include transform(none);
                    top: -0rem;
                    right: -0.2rem;
                    font-size: 8.6rem;
                } 
            }
        }
        .btn-wrap{
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }
    }
}
