
@import "../config/variables";
@import "../config/mixin";

.cp-offers {
    display: flex;
   
  .lft {
    font-family: $font-medium;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $clr-root;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    border-radius: 1.2rem;
    padding:0 1.2rem;
   
    &.typ-blue{
        background-color: $clr-primary;
    }
    &.typ-red{
        background-color:#DB3657;  
    }
    &.typ-green{
        background-color: #00A441;
    }
    &.typ-yellow{
        background-color: #FFB800;
    }
  }
  .rht {
    border-radius: 1.2rem;
    padding: 1.6rem 1.2rem;
    width: 100%;
    .title {
        font-family: $font-semiBold;
        font-size: 1.4rem;
        line-height: 2rem;
        color:   $clr-base;
        margin-bottom: 4px;
    }
    .desc {
        font-family: $font-regular;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color:$clr-para;
        margin-bottom:1rem;
        max-width: 85%;
    }
    .offer-valid {
        font-family: $font-medium;
        font-size: 1rem;
        line-height: 1.2rem;
        color: $clr-base;
    }

    &.typ-blue-border{
        border: 1px solid $clr-primary;
    }
    &.typ-red-border{
        border: 1px solid #DB3657;
    }
    &.typ-green-border{
        border: 1px solid #00A441;
    }
    &.typ-yellow-border{
        border: 1px solid #FFB800;
    }
  }

}
