@import "../config/variables";
@import "../config/mixin";


.cp-prod-size{
    .title{
        font-size: 1.6rem;
        color:$clr-base;
        font-family: $font-medium;
    }
    .radio-wrap{
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;  

    }
    
}