@import "../config/variables";
@import "../config/mixin";

.cp-product-card{
    // max-width: 34.3rem;
    // height: 33.4rem;
    @include border-radius(1.6rem);
    border: 1px solid $clr-border;
    background: $clr-root;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: $media-mobile) {
        @include border-radius(1.2rem);
    }
    .lhs{
        width: 39.3%;
    }
    .img-wrap{
        max-width: 11.8rem;
        height: 23.6rem;
        margin: 0 auto;
        display: block; 
        
        img {
            height: 100%;
            object-fit: cover;
        }   
    }   
    .rhs{
        border-left: 1px solid $clr-border;  
        padding: 1.6rem 1.2rem; 
        width: 62.7%;
        @media only screen and (max-width: $media-mobile) {
        }       
    }
    .product-tag{
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        padding: 0.2rem 0.8rem;
        background: #D8E5F8;
        font-family: $font-medium;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #3D7EDB;
        text-align: center;
        z-index: 2;
        @include border-radius(1.2rem);
    }
    .prod-title{
        font-family: $font-semiBold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $clr-base;
        margin-bottom: 0.2rem;
    }
    .prod-code{
        font-family: $font-regular;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $clr-base;
        margin-bottom: 0.6rem;
    }
    .cm-medium {
        color: #5A245A;
    }
    .review-list{
        margin-bottom: 1.2rem;
        .review-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .review-star{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .icon{
                font-size: 1.2rem;
                line-height: 1.2rem;
                color: #CCCCCC;
                &.typ-active{
                    color: #FFB800;
                }
            }
        }
        .review-count{
            font-family: $font-medium;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
        }   
        .product-buy{
            font-family: $font-regular;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
        }
    }
    .price-wrap{
        margin-bottom: 1.2rem;
        .text{
            font-family: $font-regular;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
            margin-bottom: 0.2rem;
        }
        .discounted-price{
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-para;
            margin-bottom: 0.4rem;
            .amt{
                font-family: $font-semiBold;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $clr-base;
            }
        }
        .regular-price{
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-para;
            margin-right: 0.6rem;
            text-decoration: line-through;
            display: inline-block;
        }
        .off-price{
            font-family: $font-medium;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-root;
            background: $clr-secondary;
            padding: 0.2rem 0.5rem;
            text-align: center;
            @include border-radius(2.4rem);
            max-width: 4.8rem;
        }
    }
    .specification{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1.2rem;
        gap: 0.5rem;
        .tags{
            padding: 0.2rem 0.8rem;
            font-family: $font-medium;
            font-size: 1.2rem;
            line-height: 1.6rem;
            text-align: center;
            color: $clr-para;
            @include border-radius(0.4rem);
            background: #F3F4F6;

            &.typ-more{
                padding: 0;
                background: transparent;
                width: 100%;
                text-align: left;
            }
        }
    }
    .delivery-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.2rem;
        .icon{
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: #999999;
        }
        .delivery-text{
            font-family: $font-regular;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
            .highlight{
                font-family: $font-medium;
                color: $clr-base;
            }
        }
    }
    .action-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
        .btn{
            min-width: 13.3rem;
        }
        .btn-icon{
            position: relative;
            width: 4rem;
            height: 4rem;
            background: #F3F4F6;
            font-size: 2rem;
            @include border-radius(0.8rem);
            color: #999999;
            &::before{
                font-size: 2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
            &.active{
                color: $clr-secondary;
            }
        }
    }
    &.typ-2{
        // max-width: 29.6rem;
        flex-direction: column;
        .lhs,
        .rhs{
            width: 100%;
            max-width: 100%;
        }
        .img-wrap{
            max-width: 26.4rem;
            height: 13.2rem;
            margin: 4rem auto 2.4rem;
        }
        .rhs{
            padding: 0.8rem 1.2rem 1.6rem;
            border: none;
        }
        .prod-title{
            font-size: 2rem;
            line-height: 2.8rem;
        }
        .specification {
          .tags{
            padding: 0.4rem 0.8rem;
            color: $clr-base;
            &.typ-more{
                width: auto;
            }
          }
        }
        .review-list {
            margin-bottom: 1.3rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.2rem;
            .review-item{
                position: relative;
                &::before{
                    content: '';
                    width: 1px;
                    height: 1.6rem;
                    background: $clr-para;
                    position: absolute;
                    top: -0.2rem;
                    right: -0.6rem;
                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }                
            }
        }        
        .price-wrap {
            .text{
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            .discounted-price {
                font-size: 1.4rem;
                line-height: 2rem;
                margin-bottom: 0.6rem;
                .amt{
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
        }
        .action-wrap {
            .btn{
                min-width: 21.6rem;
                font-size: 1.4rem;
                line-height: 2rem;
                padding: 0.9rem 1.6rem;
            }
        }
    }
}