@import "../config/variables";
@import "../config/mixin";

.cp-product-card{
    max-width: 34.3rem;
    // height: 33.4rem;
    @include border-radius(1.6rem);
    border: 1px solid $clr-border;
    background: $clr-root;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    @media only screen and (max-width: $media-mobile) {
        @include border-radius(1.2rem);
    }
    .img-wrap{         
        padding: 1.2rem 0.8rem;
        width: 40%;
        max-width: 13.4rem;
        max-height: 23.6rem;
        margin: auto;
        display: block; 
        
        img {
            height: 100%;           
            object-fit: cover;
        }   
    }   
    .content-wrap{
        border-left: 1px solid $clr-border;  
        padding: 1.6rem 1.2rem; 
        width: 60%;
        @media only screen and (max-width: $media-mobile) {
        }       
    }
    .product-tag{
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        padding: 0.2rem 0.8rem;
        background: #D8E5F8;
        font-family: $font-medium;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #3D7EDB;
        text-align: center;
        @include border-radius(1.2rem);
    }
    .prod-title{
        font-family: $font-semiBold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $clr-base;
        margin-bottom: 0.2rem;
    }
    .prod-code{
        font-family: $font-regular;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $clr-base;
        margin-bottom: 0.6rem;
    }
    .review-list{
        margin-bottom: 1.2rem;
        .review-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .review-star{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .icon{
                font-size: 1.2rem;
                line-height: 1.2rem;
                color: #CCCCCC;
                &.typ-active{
                    color: #FFB800;
                }
            }
        }
        .review-count{
            font-family: $font-medium;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
        }   
        .product-buy{
            font-family: $font-regular;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
        }
    }
    .price-wrap{
        margin-bottom: 1.2rem;
        .text{
            font-family: $font-regular;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
            margin-bottom: 0.2rem;
        }
        .discounted-price{
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-para;
            margin-bottom: 0.4rem;
            .amt{
                font-family: $font-semiBold;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $clr-base;
            }
        }
        .regular-price{
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-para;
            margin-right: 0.6rem;
            display: inline-block;
        }
        .off-price{
            font-family: $font-medium;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-root;
            background: $clr-secondary;
            padding: 0.2rem 0.5rem;
            text-align: center;
            @include border-radius(2.4rem);
            max-width: 4.8rem;
        }
    }
    .specification{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 1.2rem;
        gap: 0.5rem;
        .tags{
            padding: 0.2rem 0.8rem;
            font-family: $font-medium;
            font-size: 1.2rem;
            line-height: 1.6rem;
            text-align: center;
            color: $clr-para;
            @include border-radius(0.4rem);
            background: #F3F4F6;

            &.typ-more{
                padding: 0;
                background: transparent;
                width: 100%;
                text-align: left;
            }            
        }
    }
    .delivery-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.2rem;
        .icon{
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: #999999;
        }
        .delivery-text{
            font-family: $font-regular;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $clr-para;
            .highlight{
                font-family: $font-medium;
                color: $clr-base;
            }
        }
    }
    .action-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
        .btn{
            min-width: 13.3rem;
        }
        .btn-icon{
            position: relative;
            width: 4rem;
            height: 4rem;
            background: #F3F4F6;
            font-size: 2rem;
            @include border-radius(0.8rem);
            color: #999999;
            &::before{
                font-size: 2rem;              
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
            &.active{               
                color: $clr-secondary;              
            }
        }
    }
}