@import "../config/variables";
@import "../config/mixin";

.cp-price{
    .price-list{
        border-radius: 16px;
        border: 1px solid #DEDEDE;
        overflow: hidden;
        @media only screen and (max-width: $media-mobile) {
            border: 0;
            margin: 0 -2rem;
        }
    }
        .price-list-item{
            display: flex;
            font-size: 1.6rem;
            line-height: 24px;
            font-family: $font-regular;
            color: $clr-para;
            justify-content: space-between;
            position: relative;
            padding: 2.4rem 2.4rem 0;
            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
                padding: 1.2rem 1.6rem 0;
            }
            &.total-price{
                background: #F3F4F6;
                font-family: $font-semiBold;
                font-size: 2.4rem;
                color: $clr-base;
                padding: 2.4rem;
                margin-top: 2.4rem;
                @media only screen and (max-width: $media-mobile){
                    font-size: 2rem;
                    margin-top: 3.2rem;
                }
                .sub-text{
                    font-size: 1.4rem;
                    color: $clr-para;
                    font-family: $font-medium;
                    display: block;
                }

            }
        }
        .bold-text{
            color: $clr-base;
            font-family: $font-medium;
            &.typ-green{
                color: #00A441;
            }
        }
        .cancel-price{
            text-decoration: line-through;
            font-family: $font-regular;
            color: #808080;
        }
    .cart-act-wrap{
        margin-top: 1.6rem;
        .btn{
            min-width: 40rem;
            @media only screen and (max-width: $media-mobile){
                min-width: 34.3rem;
            }
        }
    }
}