@import "../config/variables";
@import "../config/mixin";

@import "../config/variables";
@import "../config/mixin";

.cp-product-name-head {
  @media only screen and (max-width: $media-mobile) {
    display: none;
  }
  .product-brand {
    padding: 1.2rem 1.6rem;
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    background-color: #fffbf3;
    border: 1px solid #ffe399;
    border-radius: 1.6rem;
    margin-bottom: 3.2rem;
    @media only screen and (max-width: $media-mobile) {
      border-top: 1px solid #ffe399;
      border-bottom: 1px solid #ffe399;
      border-radius: 0;
    }

    .img-wrap {
      width: 8rem;
      height: 8rem;
      border-radius: 1.2rem;
      overflow: hidden;
      border: 1px solid $clr-border;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .product-detail {
      .brand-name {
        font-family: $font-regular;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      .product-name {
        font-family: $font-semiBold;
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }

 

  &.typ-review-stars {
    @media only screen and (max-width: $media-mobile) {
      display: block;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  .form-label {
    font-family: $font-regular;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
  }

  .question {
    padding: 1.2rem 1.6rem;
    border: 1px solid $clr-border;
    font-family: $font-regular;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 1.2rem;
    margin-bottom: 2.4rem;
  }

  .disabled {
    background-color: #ededed;
    color: #b3b3b3;
    border: none;
  }

  &.typ-review-star {
    .star-label,
    .review-label,
    .title-label {
      font-family: $font-regular;
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 0.8rem;
    }

    .star-label {
      font-family: $font-medium;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 1.2rem;
    }

    .star-rating {
      padding-bottom: 2.4rem;
      border-bottom: 1px solid $clr-border;
      margin-bottom: 2.4rem;
      .icon {
        font-size: 4.8rem;
        color: #cccccc;
      }
      .star-selected {
        color: #ffb800;
      }
    }

    .title {
      padding: 1.2rem 1.6rem;
      border: 1px solid $clr-border;
      font-family: $font-regular;
      font-size: 1.6rem;
      line-height: 2.4rem;
      border-radius: 1.2rem;
      margin-bottom: 2.4rem;
    }

    .review {
      padding: 1.2rem 1.6rem;
      border: 1px solid $clr-border;
      font-family: $font-regular;
      font-size: 1.6rem;
      line-height: 2.4rem;
      border-radius: 1.2rem;
      margin-bottom: 2.4rem;
      min-height: 15.6rem;
    }
  }
}
