@import "../config/variables";
@import "../config/mixin";

.cp-product-type{
    background: $clr-primary;
    padding: 3.2rem 2.4rem 4.4rem;
    @include border-radius(1.6rem);
    @media only screen and (max-width: $media-mobile) {
        padding: 1.6rem 2.4rem 2.4rem;
        @include border-radius(0);
    }
    
    .title{
        font-family: $font-medium;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $clr-root;
        margin-bottom: 1.6rem;
        @media only screen and (max-width: $media-mobile) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
    .typ-card{
        padding: 1rem 0.2rem;
        border: 1px solid $clr-border;
        background: $clr-root;
        @include border-radius(1.2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-wrap{
            max-width: 9.6rem;
            max-height: 4.8rem;
        }
        .prod-name{
            font-family: $font-medium;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $clr-base;
            text-align: center;
            margin-top: 0.8rem;
            @media only screen and (max-width: $media-mobile) {
                margin-top: 0;
            }
        }
        &.active{
            .prod-name{
                font-family: $font-semiBold;
                color: $clr-primary;
            }            
        }
    }
    .btn-wrap{
        text-align: center;
        .btn{
            min-width: 16.6rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 1.1rem 1.2rem;
        }
    }

    &.typ-category{
        background: $clr-root;
        padding: 0;
        .typ-card{
            height: 100%;
        }
    }
}