@import "../config/variables";
@import "../config/mixin";

.cp-product-details{
    .img-box{
        position: relative;        
        margin-bottom: 1.6rem;
        .product-tag{
            position: absolute;
            top: 1.2rem;
            left: 1.2rem;
            padding: 0.2rem 0.8rem;
            background: #D8E5F8;
            font-family: $font-medium;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #3D7EDB;
            text-align: center;
            z-index: 2;
            @include border-radius(1.2rem);
        }
        .img-wrap{
            margin: 4.2rem 6rem;
            max-width: 43.6rem;
            height: 25.8rem;
            display: block; 
            @media only screen and (max-width: $media-mobile) {
                margin: 4.2rem 1.6rem;
                max-width: 31rem;
                height: 15.5rem;
            }
            
            img {
                height: 100%;
                object-fit: cover;
            }   
        }
    }
}
