@import "../config/variables";
@import "../config/mixin";

.cp-request-recieve {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon {
        width: 10rem;
        height: 10rem;
        font-size: 10rem;
        color: #00A441;
        margin-bottom: 0.4rem;
    }

    .title {
        color: $clr-base;
        font-size: 3.6rem;
        font-family: $font-semiBold;
        margin-bottom: 0.4rem;
    }

    .ref-no {
        color: $clr-base;
        font-family: $font-medium;
        font-size: 2rem;
        margin-bottom: 0.4rem;
    }

    .desc {
        color: $clr-para;
        font-size: 1.6rem;
        font-size: 1.6rem;
    }
}