@import "../config/variables";
@import "../config/mixin";

.cp-sub-menu{
    .title{
        font-size: 2rem;
        color: $clr-base;
        font-family: $font-semiBold;
        border-bottom: 1px solid #dedede;
        padding-bottom: 1.6rem;
        margin-bottom: 2.4rem;
        width: 100%;

        @media only screen and (max-width: $media-mobile) {
            font-size: 1.4rem;
            padding: 1.5rem 1rem;
            margin-bottom: 0;
            border: 0;
            display: flex;
            align-items: center;
            gap: 0.2rem;
            
        }
        &.typ2{
            font-size: 1.4rem;
            border-bottom: 0;
            border-top: 1px solid #dedede;
        }
        &:hover{
            @media only screen and (max-width: $media-mobile) {
                background: $clr-bg;
            }
        }
    }
    .header-icon{
        color: $clr-primary;
        font-size: 2rem;
        padding-right: 0.2rem;


    }
.top-sec{
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: $media-mobile) {
        position: relative;
        flex-direction: column;
        padding-bottom: 0;

    }
    .lhs{
        width: 75%;
        position: relative;
        display: block; 
        @media only screen and (max-width: $media-mobile) {
            width: 100%;
        }
        .cat-grid{
            display: flex;
            gap: 4rem;
            @media only screen and (max-width: $media-mobile) {
                flex-direction: column;
                gap: 1rem;
                display: none;
            }
            .col{
                display: flex;
                flex-direction: column;
                @media only screen and (max-width: $media-mobile) {
                    border-bottom: 1px solid #dedede;
                }
                .img-wrap{
                    position: relative;
                    width: 194px;
                    height: 64px;
                    border-radius: 8px;
                    overflow: hidden;
                    @media only screen and (max-width: $media-mobile) {
                        overflow: visible;
                        height: auto;
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        top:0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.3);
                        @media only screen and (max-width: $media-mobile) {
                            display: none;
                        }
                    }
                    .col-title{
                        position: absolute;
                        left: 8px;
                        bottom: 30px;
                        font-size: 1.4rem;
                        color: $clr-root;
                        font-family: $font-semiBold;
                        line-height: 24px;
                        z-index: 1;
                        @media only screen and (max-width: $media-mobile) {
                            color: $clr-base;
                            position: relative;
                            left: 0;
                            top: 0;
                        }
                       
                    }
                    img{
                        @media only screen and (max-width: $media-mobile) {
                            display: none;
                        }
                    }
                }
                .cont-wrap{
                    display: flex;
                    flex-direction: column;
                    padding-top: 1.2rem;
                    .inner-menu-item{
                        margin-bottom: 1rem;
                    }
                    .inner-menu-link{
                        font-size: 1.4rem;
                        font-family: $font-regular;
                        color: $clr-base;
                        margin-bottom: 1rem;
                    }
                    .new-lable{
                        background: $clr-secondary;
                        font-size: 1.2rem;
                        font-family: $font-regular;
                        border-radius: 26px;
                        text-align: center;
                        color: $clr-root;
                        padding: 0rem 0.8rem;
                        display:inline-block;
                    }
                }
                &.typ2{
                    .img-wrap{
                        width: 21rem;
                        height: 10.8rem;
                        border-radius: 12px;
                        overflow: hidden;
                        &::after{
                            display: none;
                        }
                    }
                    .col-title{
                        position: relative;
                        font-size: 1.4rem;
                        color: $clr-base;
                        font-family: $font-medium;
                        line-height: 24px;
                        &::after{
                            content: "\e91e";
                            font-family: 'icomoon' !important;
                            color: $clr-primary;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    .rhs{
        width: 25%;
        display: block;
        @media only screen and (max-width: $media-mobile) {
            width: 100%;
            position: relative;
            left: 0;
            bottom: 0;
        }
        .menu-list{
            display: flex;
            flex-direction: column;
            padding-bottom: 2.4rem;
            @media only screen and (max-width: $media-mobile) {
                display: none;
            }
            .menu-item{
                margin-bottom: 1.2rem;
                .menu-link{
                    font-size: 1.4rem;
                    font-family: $font-medium;
                    color: $clr-base;
                    position: relative;
                }
                &.active,
                &:hover{
                    .menu-link{
                        background: $clr-bg;
                        color: $clr-primary;
                        padding: 0.6rem 1.2rem;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 5px;
                            background: $clr-primary;
                            left: 0;
                            top:0;
                            height: 100%;
                        }
                        
                    }
                }
            }
           
        }
        &.typ3{
            .img-wrap{
                width: 20.8rem;
                height: 21.6rem;
                border-radius: 16px;
                overflow: hidden;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    left: 0;
                    width: 100%;
                    height: 21.6rem;
                    background: rgba(0,0,0,0.4);
                    top:0;
                }
                .img-title{
                    position: absolute;
                    left: 15px;
                    bottom: 16px;
                    font-size: 2.8rem;
                    color: $clr-root;
                    font-family: $font-semiBold;
                    max-width: 12.4rem;
                    line-height: 29px;
                    z-index: 2;
                }
            }
        }
    }
}
}