@import "../config/variables";
@import "../config/mixin";

.cp-sub-menu{
    .title{
        font-size: 2rem;
        color: $clr-base;
        font-family: $font-semiBold;
        border-bottom: 1px solid #dedede;
        padding-bottom: 1.6rem;
        margin-bottom: 2.4rem;
        width: 100%;
    }
.top-sec{
    display: flex;
    align-items: flex-start;
    .lhs{
        width: 70%;
        position: relative;
        display: block;
        .cat-grid{
            display: flex;
            .col{
                display: flex;
                .img-wrap{
                    position: relative;
                    width: 194px;
                    height: 64px;
                    border-radius: 8px;
                    overflow: hidden;
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        top:0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.3);
                    }
                    .col-title{
                        position: absolute;
                        left: 8px;
                        bottom: 30px;
                        font-size: 1.4rem;
                        color: $clr-root;
                        font-family: $font-semiBold;
                        line-height: 24px;
                        position: relative;
                        z-index: 1;
                       
                    }
                }
            }
        }
    }
    .rhs{
        width: 30%;
        display: block;;
        .menu-list{
            display: flex;
            flex-direction: column;
            padding-bottom: 2.4rem;
            .menu-item{
                margin-bottom: 1.2rem;
                .menu-link{
                    font-size: 1.4rem;
                    font-family: $font-medium;
                    color: $clr-base;
                    position: relative;
                }
                &.active,
                &:hover{
                    .menu-link{
                        background: $clr-bg;
                        color: $clr-primary;
                        padding: 0.6rem 1.2rem;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 5px;
                            background: $clr-primary;
                            left: 0;
                            top:0;
                            height: 100%;
                        }
                        
                    }
                }
            }
           
        }
    }
}
}