@import "../config/variables";
@import "../config/mixin";

.cp-select{
    .select-label{
        font-family: $font-regular;
        font-size: 14px;
        line-height: 2rem;
        color: $clr-base;
        margin-bottom: 0.8rem;
    }
    .select-dropdown {
        position: relative;
        display: inline-block;
        max-width: 100%;
    
        .select-dropdown-button {
            padding: 10px 35px 10px 15px;
            background-color: #fff;
            color: #616161;
            border: 1px solid #cecece;
            border-radius: 12px;
            cursor: pointer;
            width: 343px;
            text-align: left;
    
            &::focus {
                outline: none;
            }
    
            .zmdi-chevron-down {
                position: absolute;
                right: 1.2rem;
                top: 50%;
                transform: translateY(-50%);
                &::after{
                    content: "\e90e";
                    font-family: 'icomoon';
                    font-size: 2rem;
                    line-height: 2rem;
                    color: $clr-base;
                }
            }
            .select-text{
                font-size: 1.6rem;
                font-family: $font-regular;
                color: $clr-para;
            }
        }
    
        .select-dropdown-list {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            max-height: 300px;
            overflow: auto;
            margin: 0;
            padding: 0;
            list-style-type: none;
            opacity: 0;
            pointer-events: none;
            transform-origin: top left;
            transform: scale(1,0);
            transition: all ease-in-out .3s;
            z-index: 2;
            background:$clr-root;
            border: 1px solid  #ECF2FB;
            border-radius: 6px;
    
            &.active {
                opacity: 1;
                pointer-events: auto;
                transform: scale(1,1);
    
            }
           
        }
        .select-dropdown-list-item {
            display: block;
            list-style-type: none;
            font-size: 14px;
            line-height: 1.4;
            cursor: pointer;
            color: #616161;
            transition: all ease-in-out .3s;
            width: 100%;
           
        }
    }
    .dropdown-item{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-family: $font-regular;
        color: $clr-para;
        background: #fff;
        border-top: 1px solid #e6e6e6;
        padding: 1rem;
        &:hover{
            background: #ECF2FB;

        }
    }
    &.typ-category {
        margin-bottom: 1.6rem;
        .select-dropdown-button {
            @media only screen and (max-width: $media-mobile){
                width: 34.3rem;
            }
        }
    }
}