@import "../config/variables";
@import "../config/mixin";

.cp-size-rates{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    .img-wrap{
        width: 34.3rem;
        height: 31.6rem;
        border-radius: 12px;
        overflow: hidden;
    }
    .cont-wrap{
        width: 70%;
        @media only screen and (max-width: $media-mobile){
            width: 100%;
        }
        .title{
            font-size: 2rem;
            font-family: $font-semiBold;
            color: $clr-base;
            line-height: 28px;
        }
        .desc{
            font-size: 1.2rem;
            font-family: $font-medium;
            color: $clr-base;
            line-height: 28px;
            padding-bottom: 1.2rem;
        }
    }
}