@import "../config/variables";
@import "../config/mixin";

.cp-trade-hand-tool-card{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #dedede;
    height: 14.0rem;
    overflow: hidden;
    background: $clr-root;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: $media-mobile){
        height: 9.6rem;

    }
    .img-wrap{
        width: 10rem;
        height: 6.4rem;
        @media only screen and (max-width: $media-mobile){
            width: 9.6rem;
            height: 4.8rem;        
        }
        img{
            height: 100%;
            object-fit: contain;
        }
    }
    .title{
        font-size: 1.6rem;
    color: $clr-base;
        font-family: $font-semiBold;
        padding-top: 0.8rem;
        @media only screen and (max-width: $media-mobile){
            font-size: 1.4rem;
        }
    }
    &:hover{
        border-color: #3D7EDB;
        .title{
            color: #3D7EDB;
        }
    
    }
    &.typ-why-wiron{
        border: 0;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        .img-wrap{
            width: 29.5rem;
            height: 18.4rem;
            border-radius: 12px;
            overflow: hidden;
            @media only screen and (max-width: $media-mobile){
                width: 16.0rem;
                height: 10.4rem;
            }
        }
        &:hover{
            .title{
                color:$clr-base;
            }
        
        }
        .title{
            padding-top: 1.6rem;
        }
    }
}