@import "../config/variables";
@import "../config/mixin";

.select-size-quntity-wrap{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.2rem;
}

.cp-trade-hand-tool-card{
display: flex;
align-items: center;
text-align: center;
border-radius: 12px;
border: 2px solid #dedede;
height: 14.0rem;
overflow: hidden;
background: $clr-root;
flex-direction: column;
justify-content: center;
@media only screen and (max-width: $media-mobile){
    height: 9.6rem;

}
.img-wrap{
    width: 10rem;
    height: 6.4rem;
    @media only screen and (max-width: $media-mobile){
        width: 9.6rem;
        height: 4.8rem;
    
    }

}
.title{
    font-size: 1.6rem;
   color: $clr-base;
    font-family: $font-semiBold;
    padding-top: 0.8rem;
    @media only screen and (max-width: $media-mobile){
        font-size: 1.4rem;
    }
}
&:hover{
    border-color: #3D7EDB;
    .title{
        color: #3D7EDB;
    }
   
}
&.typ-why-wiron{
    border: 0;
    height: 14.8rem;
    border-radius:12px 12px 12px 0;
    text-align: left;
    justify-content: flex-start;
    .img-wrap{
        width: 16.0rem;
        height: 10.4rem;
        border-radius: 12px;
        overflow: hidden;
    }
    &:hover{
        .title{
            color:$clr-base;
        }
       
    }
}
&.typ-struct-pdp{
    width: 19.0rem;
    height: 14.0rem;
    @media only screen and (max-width: $media-mobile){
        width: 10.6rem;
        height: 9.6rem;
    }
}
&.typ-why-structure{
    border: 0;
    height: 295px;
    text-align: left;
    @media only screen and (max-width: $media-mobile){
        height: 188px;
        width: 166px;
    }
    .img-wrap{
        width: 295px;
        height: 260px;
        @media only screen and (max-width: $media-mobile){
            height: 160px;
            width: 166px;
        }
    }
}
}