@import "../config/variables";
@import "../config/mixin";

.cp-trade-hand-tool-card{
display: flex;
align-items: center;
text-align: center;
border-radius: 12px;
border: 2px solid #dedede;
height: 9.6rem;
overflow: hidden;
.img-wrap{
    width: 9.6rem;
    height: 4.8rem;
}
.title{
    font-size: 1.4rem;
   color: $clr-base;
    font-family: $font-semiBold;
    padding-top: 0.8rem;
}
&:hover{
    border-color: #3D7EDB;
    .title{
        color: #3D7EDB;
    }
   
}
}