@import "../config/variables";
@import "../config/mixin";

.cp-toast{
    padding: 0.8rem 1.2rem;
    border: 1px dashed #00A441;
    background: #E5F6EC;
    @include border-radius(0.4rem);
    max-width: 27.5rem;
    text-align: center;
    position: fixed;
    bottom: 15%;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 10;
    display: none;
    .msg{
        font-family: $font-semiBold;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #00A441;
        @media only screen and (max-width: $media-mobile) {
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    &.typ-error{
        border: 1px dashed #F58F66;
        background: #FCDACC;
        .msg{           
            color: #F58F66;
        }
    }
}