@import "../config/variables";
@import "../config/mixin";

.cp-tab {
  .tab-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .tab-item {
      flex-shrink: 0;
      .title {
        border: 1px solid #dedede;
        font-family: $font-regular;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $clr-para;
        background: $clr-root;
        cursor: pointer;
        text-transform: uppercase;
        @include border-radius(50px);
        @include transition(all, 2s, ease);
        padding: 0.6rem 1.6rem;
        &.typ-capital {
          text-transform: capitalize;
        }
      }
      &:hover,
      &.active {
        .title {
          border: 1px solid #dedede;
          font-family: $font-semiBold;
          color: $clr-root;
          background: $clr-primary;
        }
      }
    }
  }
  .tab-container {
    padding-top: 2.4rem;
    @media only screen and (max-width: $media-sm) {
      padding-top: 1.6rem;
    }
    .tab-content {
      @include transition(all, 2s, ease);
      display: none;
      &.active {
        display: block;
      }
      .list-sec{
        display: flex;
        
      }
    }
    .content {
      font-size: 3rem;
    }
    .list-wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .list-item{
        width: 48%;
        @media only screen and (max-width: $media-sm) {
          width: 100%;
        }
        .img-wrap{
          border: 1px solid #dedede;
          border-radius: 16px;
          overflow: hidden;
          @media only screen and (max-width: $media-sm){
            border: 0;
          }
        }
      }
    }
  }
  &.typ-calculate {
    .tab-list {
      padding: 0 2.4rem 0;
    }
  }
  &.typ-question-answer {    
      .question-title {
        font-family: $font-semiBold;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-top: 3.2rem;
        margin-bottom: 1.2rem;
        @media only screen and (max-width: $media-mobile) {
          display: none;
        }
        .question-count {
          padding-inline: 1.2rem;
          background-color: $clr-secondary;
          color: $clr-root;
          border-radius: 2.6rem;
    
          @media only screen and (max-width: $media-mobile) {
            display: block;
            background: none;
            color: $clr-para;
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
        }
      }
      .sort-title {
        font-family: $font-medium;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
        @media only screen and (max-width: $media-mobile) {
          margin-top: 2.4rem;
        }
      }
      .btn-wrap {
         display: none;
          @media only screen and (max-width: $media-mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
          }
        
      }
  }
  &.typ-struct-pdp{
    @media only screen and (max-width: $media-mobile) {
      margin-bottom: 0rem;
    }
    .tab-list{
      background: $clr-bg;
      border-radius: 12px;
      padding: 0.8rem;
      max-width: 34.3rem;
      .tab-item{
        &.active{
          .title{
            background: $clr-root;
            color: $clr-primary;
            border: 0;
            font-family: $font-medium;
          }
        }
      }
      .title{
        border-radius: 8px;
        background: transparent;
        border: 0;
        padding: 1rem 4.5rem;
      }
    }
  }
  &.typ-tisco-cat{
    position: relative;
    .tab-container{
      @media only screen and (max-width: $media-mobile) {
        padding-top: 13rem;
        padding-bottom: 2rem;
      }
    }
    .video-sec{
      display: flex;
      gap: 2rem;
    }
    .tab-list{
      border-bottom: 1px solid #dedede;

      .tab-item{
        .title{
          border: 0;
          position: relative;
          padding: 1.6rem;
          &::after{
            position: absolute;
            content: '';
            background: #D2042D;
            width: 0%;
            height: 4px;
            left: 0;
            bottom: 0;
            transition: all ease-in 0.3s;
          }
        }
        &:hover,
        &.active{
          .title{
            background: none;
            color: $clr-base;
            font-family: $font-semiBold;
          &::after{
            width: 100%;
          }
           
          }
        }
      }
    }
  }
  &.typ-struct{
    .tab-list{
      .tab-item{
        .title{
          padding: 1.6rem 4rem;
        }
      }
    }
    .tab-container{
      @media only screen and (max-width: $media-mobile) {
        padding-top: 2.4rem;
      }

    }
    .category-content{
      position: relative;
      max-width: 100%;
      left: 0;
      top: 0;
      transform: none;
      display: flex;
      flex-direction: column;
      .act-buy{
        min-width: 34.3rem;
        display: inline-block;
        margin: 3.2rem auto 0;
      }
    }
                          
    .category-content{
      .title{
        padding-bottom: 3.2rem;
      }
    }
  }
  .category-content{
    max-width: 28.9rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (max-width: $media-mobile) {
      right: auto;
      top: 13%;
      transform: translateY(-13%);
    }
    .title{
      font-size: 4rem;
      color: $clr-base;
      font-family: $font-semiBold;
      padding-bottom: 0.8rem;
      line-height: 24px;
      @media only screen and (max-width: $media-mobile) {
        font-size: 2.4rem;
      }
    }
    .desc{
      font-size: 1.6rem;
      font-family: $clr-para;
      font-family: $font-regular;
      padding-bottom: 2.4rem;
      @media only screen and (max-width: $media-mobile) {
        font-size: 1.4rem;
      }
    }
  }
}
