@import "../config/variables";
@import "../config/mixin";

.customer-testimonial{
    position: relative;
    .view-btn{
        position: absolute;
        top: -5rem;
        right: 0;
        @media only screen and (max-width: $media-mobile) {
            top: -3.5rem;
        }
    }    
}

.cp-customer-testimonial{
    max-width: 29.6rem;
    min-height: 31.6rem;
    @include border-radius(1.6rem);
    border: 1px solid $clr-border;
    background: $clr-root;
    position: relative;
    @media only screen and (max-width: $media-mobile) {
        @include border-radius(1.2rem);
    }
    .video-wrap{
        @include border-radius(1.6rem);
        height: 14.4rem;        
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            @include border-radius(1.6rem);
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        img {
            @include border-radius(1.6rem);
            object-fit: contain;
        }
        @media only screen and (max-width: $media-mobile) {
            max-height: 14.4rem;
            @include border-radius(1.2rem);
            img{
                @include border-radius(1.2rem);
            }
        }
        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-size: 2.8rem;
            color: $clr-root;
            z-index: 2;
            cursor: pointer;
        }
    }
    .content-wrap{
        padding: 1.6rem 2rem 2.4rem;
        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem;
        }
    }
    .c-title{
        font-family: $font-regular;
        font-size: 1.6rem;
        line-height: 2.3rem;
        color: #666666;       
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .client-details{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
        margin-top: 2rem;
        width: 100%;
        .img-wrap{
            width: 4rem;
            height: 4rem;
            @include border-radius(50%)
        }
        .details-wrap{
            .client-name{
                font-family: $font-semiBold;
                font-size: 1.4rem;
                line-height: 2rem;
                color: $clr-base;
            }
            .client-location{
                font-size: 1.4rem;
                line-height: 2rem;
                color: $clr-para;
            }
        }
    }

    &.typ-content{
        &:before{
            content: '';
            width: 14.5rem;
            height: 17rem;
            background: url(/components/cp-customer-testimonial/images/comment-img.png) 0 0 no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .video-wrap{
            display: none;
        }
        .content-wrap{
            padding: 2.2rem 2rem;
            position: relative;
            z-index: 1;
        }
        .c-title{
            -webkit-line-clamp: 7;
            margin-bottom: 0.8rem;
            min-height: 16.8rem;
        }
    }
}