@import "../config/variables";
@import "../config/mixin";

.cp-video{
    @include border-radius(1.6rem);
    position: relative;
    .img-wrap {
        @include border-radius(1.6rem);
        height: 33.2rem;
        overflow: hidden;
        img{
            height: 100%;
        }
        @media only screen and (max-width: $media-mobile) {
            height: 19.2rem;
        }
    }
    .content-wrap{
        position: absolute;
        top: 0;
        left: 0;
        @include border-radius(1.6rem);
        background: rgba(0, 0, 0, 0.5);
        padding: 4rem 4rem 3.2rem;
        width: 100%;
        height: 100%;
        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem;
        }
    }
    .icon-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform (translate(-50%, -50%));
        z-index: 1;
        font-size: 6.4rem;
        color: $clr-root;
        padding: 0;
        display: inline-block;
        @media only screen and (max-width: $media-mobile) {
            font-size: 2.7rem;
        }
    }
    .tag-list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0.8rem;
        .tag-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.8rem;
            .tag{
                background: #D8E5F8;
                @include border-radius(0.4rem);
                font-family: $font-medium;
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: #333333; 
                padding: 0.4rem 0.8rem;
            }
        }
    }
    .title{
        font-family: $font-medium;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $clr-root;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media only screen and (max-width: $media-mobile) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
    .post-date{
        position: absolute;
        bottom: 3.2rem;
        @media only screen and (max-width: $media-mobile) {
            bottom: 1.6rem;
        }
        .post-detail{
            color: $clr-root;
            font-family: $font-regular;
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 0 1rem;
            position: relative;
            @media only screen and (max-width: $media-mobile) {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            &::before{
                content: '';
                background: $clr-root;
                width: 1px;
                height: 1.2rem;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                left: 0rem;
            }
            &:first-child {
                &::before{
                    display: none; padding-left: 0;
                }
            }
        }
    }
}