@import "../config/variables";
@import "../config/mixin";

.cp-video-card{
  border-radius: 16px;
  overflow: hidden;
      .cont-sec{
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 86.75%);
        width: 100%;
        height: 295px;
        z-index: 1;
        .video-title{
            font-size: 1.6rem;
            color:$clr-root;
            font-family: $font-medium;
            position: absolute;
            left: 24px;
            bottom: 64px;
        }
        .video-desc{
            font-size: 1.2rem;
            color:$clr-root;
            font-family: $font-regular;
            position: absolute;
            left: 24px;
            bottom: 24px;
        }
      }
      .img-wrap{
        position: relative;
      
      }
      .play-btn{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: $clr-root;
        font-size: 6rem;
        z-index: 3;
        cursor: pointer;
      }
  &.typ-tiscon{
      position: relative;
      width: 29.7rem;
      height: 52.8rem;
  } 
  &.typ-application{
    .cont-sec{
        background: (180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    .video-title{
        bottom: 23px;
        }
    }
}
}