/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-blog {
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .cp-blog {
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    margin-right: 1.2rem;
  }
}
.cp-blog .img-wrap {
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  height: 16.8rem;
  display: block;
}
.cp-blog .img-wrap img {
  height: 100%;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .cp-blog .img-wrap {
    height: 14.4rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
  .cp-blog .img-wrap img {
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
}
.cp-blog .content-wrap {
  padding: 1.8rem 1.6rem 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-blog .content-wrap {
    padding: 1.6rem;
  }
}
.cp-blog .content-wrap .tag-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.8rem;
}
@media only screen and (max-width: 768px) {
  .cp-blog .content-wrap .tag-list {
    margin-bottom: 1.6rem;
  }
}
.cp-blog .content-wrap .tag-list .tag-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.cp-blog .content-wrap .tag-list .tag-item:first-child {
  width: 80%;
}
.cp-blog .content-wrap .tag-list .tag-item .tag {
  background: #D8E5F8;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  font-family: "Poppins Medium";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #333333;
  padding: 0.4rem 0.8rem;
}
.cp-blog .content-wrap .icon {
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #999999;
  cursor: pointer;
}
.cp-blog .content-wrap .icon.active {
  color: #D2042D;
}
.cp-blog .content-wrap .c-title {
  font-family: "Poppins Semibold";
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #333333;
  margin-bottom: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cp-blog .content-wrap .c-desc {
  margin-bottom: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Poppins Regular";
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #666666;
}
.cp-blog .content-wrap .post-date {
  border-top: 1px solid #DEDEDE;
  padding-top: 1.2rem;
}
.cp-blog .content-wrap .post-date .post-detail {
  color: #666666;
  font-family: "Poppins Regular";
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0 1rem;
  position: relative;
}
.cp-blog .content-wrap .post-date .post-detail::before {
  content: "";
  background: #666666;
  width: 1px;
  height: 1.2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0rem;
}
.cp-blog .content-wrap .post-date .post-detail:first-child::before {
  display: none;
  padding-left: 0;
}
@media only screen and (max-width: 768px) {
  .cp-blog.typ-commerce .c-desc {
    display: none;
  }
}

.blog-btn-wrap {
  margin-top: 3.2rem;
  text-align: center;
}

/*# sourceMappingURL=cp-blog.css.map */
