@import '../config/mixin.scss';
@import '../config/variables.scss';

*,
::after,
::before {
    box-sizing: border-box
}

html {
  font-size: 10px;
  overflow-x: hidden !important;
  @media (min-width: 780px) and (max-width: 1000px) {
    font-size: 7.8px;
  }
  @media (min-width: 1024px) and (max-width: 1200px) {
    font-size: 8.2px;
  }
  @media (min-width: 1279px) and (max-width: 1399px) {
    font-size: 8.9px;
  }
  @media (min-width: 1441px) and (max-width: 1599px) {
    font-size: 12px;
  }
  @media (min-width: 1600px) and (max-width: 1920px) {
    font-size: 14px;
  }
  @media (min-width: 1921px) and (max-width: 2500px) {
    font-size: 16px;
  }
}

body {
  font-family: $font-regular; 
  color: $clr-para;
  font-size: 62.5%; 
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-gutter: initial;
  position: relative;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: .8rem;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(0, 0 ,0, 0.2);
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $clr-primary;
    opacity: 0.8;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }
}

img {
  width: 100%;
  display: block;
}

a {
  transition: all 0.2s;
  text-decoration: none;
  color: $clr-primary;
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: $font-regular;
  color: $clr-para;
  text-transform: initial;
  @media only screen and (max-width: $media-mobile) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.js-home-bg,
.js-bg {
  .bg-img {
    display: none;
  }
}


.cm-not-in-page {
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.cm-line-break {
  display: block;
}

.cm-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  transition: 0.5s ease-in-out;
  background: #000000;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  touch-action: auto;
  -ms-touch-action: auto;
  &.active {
    visibility: visible;
    opacity: 0.8;
    display: block;
    z-index: 8;
    touch-action: none;
    -ms-touch-action: none;
  }
}

.cm-overflow-hidden {
  overflow: hidden !important;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;
}

.container {
  margin: 0px auto;
  padding: 0px;
  max-width: 124rem;
  width: 100%;

  @media only screen and (max-width: $media-tab) {
    width: 100%;
    padding: 0rem 1.6rem;
    max-width: auto;
  }
}

.cm-mobile {
  display: none !important;
  @media only screen and (max-width: $media-mobile) {
    display: block !important;
  }
}

.cm-desktop {
  display: block !important;
  @media only screen and (max-width: $media-mobile) {
    display: none !important;
  }
}

.cm-bold {
  font-family: $font-bold;
}

.cm-semi-bold {
  font-family: $font-semiBold;
}

.cm-medium {
  font-family: $font-medium;
}

.cm-light {
  font-family: $font-light;
}

.cm-regular {
  font-family: $font-regular;
}

.hide {
  display: none !important;
}

.cm-sticky{
  position: sticky; 
position: -webkit-sticky;
  bottom: 10px;
  width: 90%;
  margin: 0 auto;
}

.cm-text-right{
  text-align: right;
}
.cm-flex{
  justify-content:flex-start;
  flex-wrap: wrap;
  gap: 1.2rem;
  &.typ-2{
    display: flex;
    justify-content:flex-start;
    gap:0.8rem;
  }
 
}
.cm-box{
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 1.6rem 3.2rem;
  @media only screen and (max-width: $media-mobile) {
    border: 0;
    padding: 2.4rem 0 0;
  }
}

.seperator{
  @media only screen and (max-width: $media-mobile) {

  background:  #dedede;
  width: 117%;
  margin: 2.4rem -4rem;
  height: 1px;
  }
}
.m-bottom{
  margin-bottom: 6.4rem;
  @media only screen and (max-width: $media-mobile) {
    margin-bottom: 4.8rem;

  }
}
.text-center{
  text-align: center;
}

.list-sec{
  display: flex;

  .list-item{
    width: 50%;
    .bold-text{
      font-family: $font-semiBold;
    font-size: 2rem;
    color: $clr-base;
    display: block;
    }
    .normal-text{
      font-family: $font-regular;
    font-size: 1.4rem;
    color: $clr-para;
    display: block;
    }
    
  }
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}

.M-top16{
  margin-top: 1.6rem;
}