@import '../config/mixin.scss';
@import '../config/variables.scss';

*,
::after,
::before {
    box-sizing: border-box
}

html,
body {
  font-family: $font-regular; 
  color: $clr-para;
  font-size: 62.5%; 
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-gutter: initial;
  position: relative;
  &::-webkit-scrollbar {
    width: .8rem;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $clr-primary;
    opacity: 0.8;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }
}

img {
  width: 100%;
  display: block;
}

a {
  transition: all 0.2s;
  text-decoration: none;
  color: $clr-primary;
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: $font-regular;
  color: $clr-para;
  text-transform: initial;
  @media only screen and (max-width: $media-mobile) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.cm-not-in-page {
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.cm-line-break {
  display: block;
}

.cm-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  transition: 0.5s ease-in-out;
  background: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  touch-action: auto;
  -ms-touch-action: auto;
  &.active {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 4;
    touch-action: none;
    -ms-touch-action: none;
  }
}

.cm-overflow-hidden {
  overflow: hidden !important;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;
}

.container {
  margin: 0px auto;
  padding: 0px;
  width: 124rem;

  @media only screen and (max-width: $media-mobile) {
    width: 100%;
    padding: 0rem 2.4rem;
    max-width: auto;
  }
}

.cm-mobile {
  display: none !important;
  @media only screen and (max-width: $media-mobile) {
    display: block !important;
  }
}

.cm-desktop {
  display: block !important;
  @media only screen and (max-width: $media-mobile) {
    display: none !important;
  }
}

.cm-bold {
  font-family: $font-bold;
}

.cm-medium {
  font-family: $font-medium;
}

.cm-light {
  font-family: $font-light;
}

.cm-regular {
  font-family: $font-regular;
}

.hide {
  display: none !important;
}

