//bs-sec
@import "../config/mixin.scss";
@import "../config/variables.scss";

.bs-sec {
  padding: 4rem 0rem;
  position: relative;
  @media only screen and (max-width: $media-sm) {
    padding: 2.4rem 0rem;
  }

  .top-padd {
    margin-top: 4rem;
  }
  .sec-head {
    margin-bottom: 3.2rem;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: $media-sm) {
      margin-bottom: 1.6rem;
    }
  }
  .sec-title {
    font-size: 4rem;
    line-height: 5.2rem;
    font-family: $font-semiBold;
    color: $clr-base;
    &.typ-white {
      color: $clr-root;
      margin-bottom: 2.4rem;
      @media only screen and (max-width: $media-mobile) {
        margin-bottom: 1.2rem;
      }
    }
    @media only screen and (max-width: $media-sm) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }
  .sec-desc {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $font-regular;
    color: $clr-para;
    &.typ-white {
      color: $clr-root;
    }
  }
  .sec-cont {
  }
  &.typ-gray-bg {
    background: #ecf2fb;
  }
  &.typ-curve {
    @include border-radius(4.8rem 4.8rem 0 0);
    @media only screen and (max-width: $media-mobile) {
      @include border-radius(2.4rem 2.4rem 0 0);
    }
  }
  &.typ-inner-spacing {
    padding: 5.8rem 0;
    @media only screen and (max-width: $media-mobile) {
      padding: 2.4rem 0;
    }
  }
  &.typ-product {
    position: relative;
    padding: 0rem;
    margin-bottom: 4rem;
    @media only screen and (max-width: $media-mobile) {
      margin-bottom: 2.4rem;
    }
    .cont-wrap {
      position: absolute;
      top: 50%;
      vertical-align: middle;
      transform: translateY(-50%);
    }
  }
  &.typ-no-top-padding {
    padding-top: 0;
  }
  &.typ-build-cal {
    padding-bottom: 2.4rem;
  }

  &.typ-tataicon {
    margin: 4rem 0;
    padding: 4.8rem 0;
    @media only screen and (max-width: $media-sm) {
      margin: 2.4rem 0;
      padding: 0;
    }
    .sec-head {
      margin-bottom: 4.8rem;
      @media only screen and (max-width: $media-sm) {
        margin-bottom: 2.4rem;
      }
    }
    .sec-title {
      text-align: center;
    }
  }

  &.typ-dealer {
    .sec-head {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &.typ-calculate {
    .sec-head {
      padding: 2.4rem 2.4rem 0;
    }
    .container {
      @media only screen and (max-width: $media-sm) {
        margin: 0;
        padding: 0;
      }
    }
  }
  &.typ-first-sec {
    margin-top: 15rem;
    padding-top: 0;
    @media only screen and (max-width: $media-sm) {
      margin-top: 13rem;
    }
  }
  &.typ-commerce-blog,
  &.typ-vegetable-patch,
  &.typ-similar-prod {
    position: relative;
    overflow: hidden;
    background: #f3f4f6;
    margin-top: 8rem;
    @include border-radius(4.8rem 4.8rem 0 0);
    overflow: hidden;
    @media only screen and (max-width: $media-mobile) {
      @include border-radius(2.4rem 2.4rem 0 0);
      margin-top: 4.8rem;
    }
    &::before {
      content: "";
      width: 100%;
      height: 29.6rem;
      background: $clr-primary;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @media only screen and (max-width: $media-mobile) {
        height: 24.4rem;
      }
    }
    .sec-head {
      z-index: 1;
      position: relative;
    }
    .sec-title,
    .sec-desc {
      color: $clr-root;
    }
  }
  &.typ-vegetable-patch{ 
    .product-title{
      font-family: $font-medium;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #F3F4F6;
      margin-bottom: 1.2rem;
      @media only screen and (max-width: $media-mobile) {
        margin-bottom: 0.8rem;
      }      
    }
  }
  &.typ-similar-prod{
    margin-top: 0;
  }
  &.typ-eCommerce-banner {
    padding: 0;
    background-color: #f3f4f6;
  }

  &.typ-quick-buy {
    position: relative;
    padding: 0;
    .sec-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-bottom: 0.4rem;
      @media only screen and (max-width: $media-sm) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 0.2rem;
      }
    }
    .sec-desc {
      @media only screen and (max-width: $media-sm) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }

    .wrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      vertical-align: middle;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }

    .cont-wrap {
      width: 70%;
    }
    .btn-wrap {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .btn {
      min-width: 10.2rem;
      padding: 0.7rem 1rem;
      @media only screen and (max-width: $media-sm) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        min-width: 8rem;
      }
    }
    .img-wrap{
      min-height: 12rem;
      height: 100%;
      @media only screen and (max-width: $media-sm) {
        max-height: 9rem;
        min-height: auto;
      }
    }
  }
  &.typ-eBanner {
    padding: 8rem 0;
    @media only screen and (max-width: $media-sm) {
      padding: 4.8rem 0;
    }
  }
  &.typ-plp{
    .sec-title,
    .sec-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }    
    .count{
      @include border-radius(2.6rem);
      background: $clr-secondary;
      padding: 0.2rem 1.2rem;
      font-family: $font-semiBold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $clr-root;
      margin-left: 0.5rem;
    }
  }

  &.typ-trade-hand-tool{
    overflow: hidden;
    padding: 0;
    background: #FFF4D7;
    padding: 2.4rem 0;
    .container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media only screen and (max-width: $media-sm){
        display: block;
      }
    }
  }
  
  &.typ-stories{
    .sec-desc{
      @media only screen and (max-width: $media-sm) {
        padding-top:1rem;
      }
    }
  }

  &.typ-best-selling{
    overflow: hidden;
    background: #FFFBF2;
    &::after{
      content: "\e900";
      font-family: 'icomoon';
      font-size: 13.4rem;
      color: #FFE399;
      position: absolute;
      top: 2.2rem;
      right: 9rem;  
      @media only screen and (max-width: $media-sm){
        font-size: 5rem;
        top: 1.2rem;
        right: 3rem;
      }
    }
    &::before{
      content: "";
      width: 44rem;
      height: 44rem;
      background: #FFF4D7;
      @include border-radius(50%);
      position: absolute;
      top: -12.6rem;
      right: -10rem;
      @media only screen and (max-width: $media-sm){
        width: 16rem;
        height: 16rem;
        top: -4.6rem;
        right: -5.6rem;
      }
    }
  }
  &.typ-review-product{
    overflow: hidden;
    background: #FFF6F2;   
    &::before{
      content: "";
      width: 44rem;
      height: 44rem;
      background: #FDECE5;
      @include border-radius(50%);
      position: absolute;
      top: -12.6rem;
      right: -10rem;
      @media only screen and (max-width: $media-sm){
        width: 16rem;
        height: 16rem;
        top: -4.6rem;
        right: -5.6rem;
      }
    }
    &::after{
      content: "\e941";
      font-family: 'icomoon';
      font-size: 13.4rem;
      color: #FCDACC;
      position: absolute;
      top: 2.2rem;
      right: 9rem;  
      @media only screen and (max-width: $media-sm){
        font-size: 5rem;
        top: 1rem;
        right: 1rem;
      }
    }
  }
  &.typ-patch-banner{
    padding: 0;
    @media only screen and (max-width: $media-sm) {
      padding-top: 1.6rem;
      padding-bottom: 2.4rem;
    }
  }
  &.typ-pdp{
    overflow: visible;
  }
}