//bs-sec
@import '../config/mixin.scss';
@import '../config/variables.scss';

.bs-sec {
  padding: 4rem 0rem;
  position: relative;
  @media only screen and (max-width: $media-sm) {
    padding: 2.8rem 0rem;
  }

  .top-padd{
    margin-top: 4rem;
  }
  .sec-head {
    margin-bottom: 3.2rem;
    @media only screen and (max-width: $media-sm) {
      margin-bottom: 1.6rem;
    }
  }
  .sec-title {
    font-size: 4rem;
    line-height: 5.2rem;
    font-family: $font-semiBold;
    color: $clr-base;
    &.typ-white {
      color: $clr-root;
      margin-bottom: 2.4rem;
    }
    @media only screen and (max-width: $media-sm) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }
  .sec-desc {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $font-regular;
    color: $clr-para;
    &.typ-white {
      color: $clr-root;
    }
  }
  .sec-cont {
  }
  &.typ-prodcut {
    position: relative;
    padding-top: 0rem;
    .cont-wrap {
      position: absolute;
      top: 50%;
      vertical-align: middle;
      transform: translateY(-50%);
    }
  }
  &.typ-gray-bg{
    background:#ECF2FB;
    @include border-radius(4.8rem 4.8rem 0 0);
    @media only screen and (max-width: $media-mobile) {
      @include border-radius(2.4rem 2.4rem 0 0);
      overflow-x: hidden;
    }
  } 
  &.typ-no-top-padding {
    padding-top: 0;
  }
  &.typ-build-cal {
    padding-bottom: 2.4rem;
  }

  &.typ-tataicon {
    padding: 8rem 0;
    @media only screen and (max-width: $media-sm) {
      padding: 4.8rem 0;
    }
    .sec-title {
      text-align: center;
    }
  }

  &.typ-dealer{
    .sec-head{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  
  &.typ-calculate{
    .sec-head{
      padding: 2.4rem  2.4rem 0;
    }
    .container{
      @media only screen and (max-width: $media-sm) {
        margin: 0;
        padding: 0;
      }
    }
  }
  &.typ-first-sec{
    margin-top: 15rem;
    padding-top: 0;
    @media only screen and (max-width: $media-sm) {
      margin-top: 13rem;
    }
  }

  &.typ-commerce-blog{
    position: relative;
    overflow: hidden;
    background: #F3F4F6;
    @include border-radius(4.8rem 4.8rem 0 0);
    @media only screen and (max-width: $media-mobile) {
      @include border-radius(2.4rem 2.4rem 0 0);
    }
    &::before{
      content: '';
      width: 100%;
      height: 29.6rem;
      background: $clr-primary;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @media only screen and (max-width: $media-mobile) {
        height: 24.4rem;
      }
    }
    .sec-head{
      z-index: 1;
      position: relative;
    }
    .sec-title,
    .sec-desc {
      color: $clr-root;
    } 
  }
  
  &.typ-eCommerce-banner{
    padding: 0;
    background-color: #F3F4F6;
  }

  &.typ-quick-buy{
    position: relative;
    padding: 0;
    .sec-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-bottom: 0.4rem;
      @media only screen and (max-width: $media-sm) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 0.2rem;
      }
    }
    .sec-desc{
      @media only screen and (max-width: $media-sm) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
    
    .wrapper{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      vertical-align: middle;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }  

    .cont-wrap{
      width: 70%;
    }
    .btn-wrap{
      width: 30%;
      text-align: right;
    }
    .btn{
      @media only screen and (max-width: $media-sm) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        min-width: 8rem;
        padding: 0.7rem 1rem;
      }
    }
  }
}