//bs-sec
.bs-sec {
    padding: 4rem 0rem;
    position: relative;
    .top-padd{
        margin-top: 4rem;
    }
    &.typ-gray-bg{
        background:#ECF2FB;
    }
    &.typ-prodcut{
        position: relative;
        padding-top: 0rem;
        .cont-wrap{
            position: absolute;
            top: 50%;
            vertical-align: middle;
            transform: translateY(-50%);
        }
    }
    @media only screen and (max-width: $media-sm) {
        padding: 2.8rem 0rem;
    }
    .sec-head {
        margin-bottom: 3.2rem;
        @media only screen and (max-width: $media-sm) {
            margin-bottom: 1.6rem;
        }
    }
    .sec-title {
        font-size: 4rem;
        line-height: 5.2rem;
        font-family: $font-semiBold;
        color: $clr-base;
        &.typ-white{
            color: $clr-root;
            margin-bottom: 2.4rem;
        }
        @media only screen and (max-width: $media-sm) {
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
    .sec-desc {
        font-size: 1.6rem;
        line-height: 2.4rem;   
        font-family: $font-regular;
        color: $clr-para;    
    }
    .sec-cont {
    }

}