//bs-sec
.bs-sec {
    padding: 4rem 0rem;
    position: relative;
    @media only screen and (max-width: $media-sm) {
        padding: 2.8rem 0rem;
    }
    .sec-head {
        margin-bottom: 3.2rem;
        @media only screen and (max-width: $media-sm) {
            margin-bottom: 1.6rem;
        }
    }
    .sec-title {
        font-size: 4rem;
        line-height: 5.2rem;
        font-family: $font-semiBold;
        color: #333333;
        @media only screen and (max-width: $media-sm) {
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
    .sec-desc {
        font-size: 1.6rem;
        line-height: 2.4rem;   
        font-family: $font-regular;
        color: $clr-para;    
    }
    .sec-cont {
    }
}