// btn
.btn {
  display: inline-block;
  font-family: $font-medium;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1.2rem 1.6em;
  font-size: 1.6rem;
  line-height: 2.4rem;
  @include border-radius(0.8rem);
  background: $clr-primary;
  color: $clr-root;
  border: 1px solid $clr-primary;
  min-width: 15rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  @media only screen and (max-width: $media-sm) {
    min-width: 21rem;
  }
  &.btn-disable {
    cursor: none;
    opacity: 0.5;
    pointer-events: none;
  }
  &.btn-link {
    padding: 0rem;
    min-width: auto;
    background: none;
    color: $clr-primary;
    border: none;
    // text-decoration: underline;
    font-size: 1.6rem;
    line-height: 2.4rem;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: $clr-primary;
      position: absolute;
      left: 0;
      bottom: 0;
      @media only screen and (max-width: $media-sm) {
        width: 100%;
      }
    }
    @media only screen and (max-width: $media-sm) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
  &:hover {
    background-color: $clr-root;
    color: $clr-primary;
  }
  &.btn-secondary {
    background: transparent;
    color: $clr-primary;
    border: 2px solid $clr-primary;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: $font-bold;
    border-radius: 1px;
  }

  &.btn-ecom-banner {
    min-width: 0;
    padding: 1.2rem 1.6rem;
    background-color: $clr-root;
    color: $clr-base;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $font-medium;

    @media only screen and (max-width: $media-mobile) {
      padding: 0.8rem 1rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}
