/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-product-card {
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border: 1px solid #DEDEDE;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .cp-product-card {
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
}
.cp-product-card .lhs {
  width: 39.3%;
}
.cp-product-card .img-wrap {
  max-width: 11.8rem;
  height: 23.6rem;
  margin: 0 auto;
  display: block;
}
.cp-product-card .img-wrap img {
  height: 100%;
  object-fit: cover;
}
.cp-product-card .rhs {
  border-left: 1px solid #DEDEDE;
  padding: 1.6rem 1.2rem;
  width: 62.7%;
}
.cp-product-card .product-tag {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  padding: 0.2rem 0.8rem;
  background: #D8E5F8;
  font-family: "Poppins Medium";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #3D7EDB;
  text-align: center;
  z-index: 2;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
}
.cp-product-card .prod-title {
  font-family: "Poppins Semibold";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
  margin-bottom: 0.2rem;
}
.cp-product-card .prod-code {
  font-family: "Poppins Regular";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #333333;
  margin-bottom: 0.6rem;
}
.cp-product-card .cm-medium {
  color: #5A245A;
}
.cp-product-card .review-list {
  margin-bottom: 1.2rem;
}
.cp-product-card .review-list .review-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cp-product-card .review-list .review-star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cp-product-card .review-list .review-star .icon {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #CCCCCC;
}
.cp-product-card .review-list .review-star .icon.typ-active {
  color: #FFB800;
}
.cp-product-card .review-list .review-count {
  font-family: "Poppins Medium";
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666666;
}
.cp-product-card .review-list .product-buy {
  font-family: "Poppins Regular";
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666666;
}
.cp-product-card .price-wrap {
  margin-bottom: 1.2rem;
}
.cp-product-card .price-wrap .text {
  font-family: "Poppins Regular";
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666666;
  margin-bottom: 0.2rem;
}
.cp-product-card .price-wrap .discounted-price {
  font-family: "Poppins Regular";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #666666;
  margin-bottom: 0.4rem;
}
.cp-product-card .price-wrap .discounted-price .amt {
  font-family: "Poppins Semibold";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
.cp-product-card .price-wrap .regular-price {
  font-family: "Poppins Regular";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #666666;
  margin-right: 0.6rem;
  display: inline-block;
}
.cp-product-card .price-wrap .off-price {
  font-family: "Poppins Medium";
  font-size: 1rem;
  line-height: 1.2rem;
  color: #FFFFFF;
  background: #D2042D;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  max-width: 4.8rem;
}
.cp-product-card .specification {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
  gap: 0.5rem;
}
.cp-product-card .specification .tags {
  padding: 0.2rem 0.8rem;
  font-family: "Poppins Medium";
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  color: #666666;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  background: #F3F4F6;
}
.cp-product-card .specification .tags.typ-more {
  padding: 0;
  background: transparent;
  width: 100%;
  text-align: left;
}
.cp-product-card .delivery-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.cp-product-card .delivery-info .icon {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #999999;
}
.cp-product-card .delivery-info .delivery-text {
  font-family: "Poppins Regular";
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666666;
}
.cp-product-card .delivery-info .delivery-text .highlight {
  font-family: "Poppins Medium";
  color: #333333;
}
.cp-product-card .action-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.cp-product-card .action-wrap .btn {
  min-width: 13.3rem;
}
.cp-product-card .action-wrap .btn-icon {
  position: relative;
  width: 4rem;
  height: 4rem;
  background: #F3F4F6;
  font-size: 2rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  color: #999999;
}
.cp-product-card .action-wrap .btn-icon::before {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cp-product-card .action-wrap .btn-icon.active {
  color: #D2042D;
}
.cp-product-card.typ-2 {
  flex-direction: column;
}
.cp-product-card.typ-2 .lhs,
.cp-product-card.typ-2 .rhs {
  width: 100%;
  max-width: 100%;
}
.cp-product-card.typ-2 .img-wrap {
  max-width: 26.4rem;
  height: 13.2rem;
  margin: 4rem auto 2.4rem;
}
.cp-product-card.typ-2 .rhs {
  padding: 0.8rem 1.2rem 1.6rem;
  border: none;
}
.cp-product-card.typ-2 .prod-title {
  font-size: 2rem;
  line-height: 2.8rem;
}
.cp-product-card.typ-2 .review-list {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}
.cp-product-card.typ-2 .review-list .review-item {
  position: relative;
}
.cp-product-card.typ-2 .review-list .review-item::before {
  content: "";
  width: 1px;
  height: 1.6rem;
  background: #666666;
  position: absolute;
  top: -0.2rem;
  right: -0.6rem;
}
.cp-product-card.typ-2 .review-list .review-item:last-child::before {
  display: none;
}
.cp-product-card.typ-2 .price-wrap .text {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.cp-product-card.typ-2 .price-wrap .discounted-price {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 0.6rem;
}
.cp-product-card.typ-2 .price-wrap .discounted-price .amt {
  font-size: 2rem;
  line-height: 2.8rem;
}
.cp-product-card.typ-2 .action-wrap .btn {
  min-width: 21.6rem;
}

/*# sourceMappingURL=cp-product-card.css.map */
