/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-sub-menu .title {
  font-size: 2rem;
  color: #333333;
  font-family: "Poppins Semibold";
  border-bottom: 1px solid #dedede;
  padding-bottom: 1.6rem;
  margin-bottom: 2.4rem;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .title {
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
    margin-bottom: 0;
    border: 0;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}
.cp-sub-menu .title.typ2 {
  font-size: 1.4rem;
  border-bottom: 0;
  border-top: 1px solid #dedede;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .title:hover {
    background: #ECF2FB;
  }
}
.cp-sub-menu .header-icon {
  color: #3D7EDB;
  font-size: 2rem;
  padding-right: 0.2rem;
}
.cp-sub-menu .top-sec {
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec {
    position: relative;
    flex-direction: column;
    padding-bottom: 0;
  }
}
.cp-sub-menu .top-sec .lhs {
  width: 75%;
  position: relative;
  display: block;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs {
    width: 100%;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid {
  display: flex;
  gap: 4rem;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid {
    flex-direction: column;
    gap: 1rem;
    display: none;
    position: fixed;
    top: 91px;
    background: #fff;
    height: 100%;
    z-index: 2;
    width: 100%;
  }
  .cp-sub-menu .top-sec .lhs .cat-grid.active {
    display: block;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid .col {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid .col {
    border-bottom: 1px solid #dedede;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap {
  position: relative;
  width: 194px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap {
    overflow: visible;
    height: auto;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap::after {
    display: none;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap .col-title {
  position: absolute;
  left: 8px;
  bottom: 30px;
  font-size: 1.4rem;
  color: #FFFFFF;
  font-family: "Poppins Semibold";
  line-height: 24px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap .col-title {
    color: #333333;
    position: relative;
    left: 0;
    top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid .col .img-wrap img {
    display: none;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .cont-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .lhs .cat-grid .col .cont-wrap {
    display: none;
  }
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .cont-wrap .inner-menu-item {
  margin-bottom: 1rem;
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .cont-wrap .inner-menu-link {
  font-size: 1.4rem;
  font-family: "Poppins Regular";
  color: #333333;
  margin-bottom: 1rem;
}
.cp-sub-menu .top-sec .lhs .cat-grid .col .cont-wrap .new-lable {
  background: #D2042D;
  font-size: 1.2rem;
  font-family: "Poppins Regular";
  border-radius: 26px;
  text-align: center;
  color: #FFFFFF;
  padding: 0rem 0.8rem;
  display: inline-block;
}
.cp-sub-menu .top-sec .lhs .cat-grid .col.typ2 .img-wrap {
  width: 21rem;
  height: 10.8rem;
  border-radius: 12px;
  overflow: hidden;
}
.cp-sub-menu .top-sec .lhs .cat-grid .col.typ2 .img-wrap::after {
  display: none;
}
.cp-sub-menu .top-sec .lhs .cat-grid .col.typ2 .col-title {
  position: relative;
  font-size: 1.4rem;
  color: #333333;
  font-family: "Poppins Medium";
  line-height: 24px;
}
.cp-sub-menu .top-sec .lhs .cat-grid .col.typ2 .col-title::after {
  content: "\e91e";
  font-family: "icomoon" !important;
  color: #3D7EDB;
  font-size: 1.2rem;
}
.cp-sub-menu .top-sec .rhs {
  width: 25%;
  display: block;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .rhs {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  }
}
.cp-sub-menu .top-sec .rhs .menu-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.4rem;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .rhs .menu-list {
    display: none;
    position: fixed;
    background: #fff;
    top: 99px;
    z-index: 3;
    width: 100%;
    overflow: scroll;
    height: 100%;
  }
}
.cp-sub-menu .top-sec .rhs .menu-list .menu-item {
  margin-bottom: 1.2rem;
}
.cp-sub-menu .top-sec .rhs .menu-list .menu-item .menu-link {
  font-size: 1.4rem;
  font-family: "Poppins Medium";
  color: #333333;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .rhs .menu-list .menu-item .menu-link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}
.cp-sub-menu .top-sec .rhs .menu-list .menu-item.active .menu-link, .cp-sub-menu .top-sec .rhs .menu-list .menu-item:hover .menu-link {
  background: #ECF2FB;
  color: #3D7EDB;
  padding: 0.6rem 1.2rem;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .rhs .menu-list .menu-item.active .menu-link, .cp-sub-menu .top-sec .rhs .menu-list .menu-item:hover .menu-link {
    background: none;
    padding: 0;
  }
}
.cp-sub-menu .top-sec .rhs .menu-list .menu-item.active .menu-link::after, .cp-sub-menu .top-sec .rhs .menu-list .menu-item:hover .menu-link::after {
  content: "";
  position: absolute;
  width: 5px;
  background: #3D7EDB;
  left: 0;
  top: 0;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .cp-sub-menu .top-sec .rhs .menu-list .menu-item.active .menu-link::after, .cp-sub-menu .top-sec .rhs .menu-list .menu-item:hover .menu-link::after {
    display: none;
  }
}
.cp-sub-menu .top-sec .rhs .menu-list .brand-logo {
  width: 64px;
  height: 50px;
  border-radius: 8px;
  padding: 0.8rem;
  border: 1px solid #dedede;
}
.cp-sub-menu .top-sec .rhs.typ3 .img-wrap {
  width: 20.8rem;
  height: 21.6rem;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.cp-sub-menu .top-sec .rhs.typ3 .img-wrap::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 21.6rem;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}
.cp-sub-menu .top-sec .rhs.typ3 .img-wrap .img-title {
  position: absolute;
  left: 15px;
  bottom: 16px;
  font-size: 2.8rem;
  color: #FFFFFF;
  font-family: "Poppins Semibold";
  max-width: 12.4rem;
  line-height: 29px;
  z-index: 2;
}

/*# sourceMappingURL=cp-sub-menu.css.map */
