/* Error: Top-level selectors may not contain the parent selector "&".
 *     ,
 * 325 |   &.typ-trade-hand-tool{
 *     |   ^
 *     '
 *   src/scss/vendor-override/swiperOverride.scss 325:3  @import
 *   src/scss/global.scss 18:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a     \2577 \a 325 \2502    &.typ-trade-hand-tool{\a     \2502    ^\a     \2575 \a   src/scss/vendor-override/swiperOverride.scss 325:3  @import\a   src/scss/global.scss 18:9                           root stylesheet';
}
