@import "../config/variables";
@import "../config/mixin";

.lyt-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  @media only screen and (max-width: $media-mobile) {
    gap: 1.2rem;
    flex-direction: column;
  }
  &.typ-col-2 {
    .grid-col {
      width: 50%;
      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }
  &.typ-col-3 {
    .grid-col {
      width: 33%;
      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }
  &.typ-explore{
    align-items: center;
    justify-content: space-around;  
    padding-bottom: 4.8rem;
    border-bottom: 1px solid $clr-border;
    gap: 1.2rem;
    @media only screen and (max-width: $media-mobile) {
      flex-direction: row;
      padding-bottom: 2.4rem;
    }
    .grid-col {   
      width: 33%;    
      &:last-child {
        .cp-icon-details::after{
          display: none;
        }
      }
    }
  }
}
