@import "../config/variables";
@import "../config/mixin";

.lyt-stage{
    .stage-list{
        display: flex;
        justify-content: space-between;
        margin: 0 -1rem;
        @media only screen and (max-width: $media-sm) {
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
    }
    }
    .stage-item{
        margin: 0 1rem;
        @media only screen and (max-width: $media-sm) {
            margin: 0px;
            margin-bottom: 1.2rem;
            &:last-child{
                margin: 0px;
            }
        }
    }
    &.type2 {
        .stage-item {
           width: 33.333333%;
           @media only screen and (max-width: $media-mobile) {
            width: 100%;
        }
        }
    }
    &.typ-pravesh{

        .stage-item {
            width: 25%;
            @media only screen and (max-width: $media-mobile) {
             width: 100%;
         }
         }
    }
}