@import "../config/variables";
@import "../config/mixin";

.lyt-pdp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.9rem;

  @media only screen and (max-width: $media-mobile) {
    gap: 1.2rem;
    flex-wrap: wrap;
  }

  .grid-col {
    width: 50%;

    @media only screen and (max-width: $media-mobile) {
      width: 100%;
    }

    &:nth-child(2) {
      @media only screen and (max-width: $media-mobile) {
        display: grid;
      }
    }
  }
}

.feature-wrapper {
  width: 50%;
  margin-top: -8rem;

  @media only screen and (max-width: $media-mobile) {
    margin-top: 0;
    width: 100%;
  }

  &.typ-durashine {
    margin-top: 3rem;
  }

  &.type-bank-offer {
    .btn {
      min-width: 34.3rem;
      margin-top: 4rem;
    }
  }

  &.typ-warranty {
    display: flex;
    border: 1px solid $clr-border;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
    @include border-radius(1.6rem);
    @media only screen and (max-width: $media-mobile) { display: block;}
    .warranty-wrap {
      background-color: #EDEDED;
      padding: 2rem 4.4rem;
      flex: 0 0 auto;
      height: 100%;
    }
    &.typ-warranty-plp{ margin-top: 0;}
  }
}