@import "../config/variables";
@import "../config/mixin";

.lyt-case {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  @media only screen and (max-width: $media-mobile) {
    gap: 1.2rem;
  }
  .grid-col {
    flex: 1 1 23%;
    @media only screen and (max-width: $media-mobile) {
      flex: 1 1 48%;
    }
    &:first-child {
      flex: 2 1 48%;
      @media only screen and (max-width: $media-mobile) {
        flex: 1 1 100%;
      }
    }
  }
}
