@import "../config/variables";
@import "../config/mixin";

.lyt-plp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  @media only screen and (max-width: $media-mobile) {
    gap: 1.2rem;
    flex-direction: column;
  }
  .grid-col {
    width: 25%;
    @media only screen and (max-width: $media-mobile) {
      width: 100%;
    }
  }
}
