/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-tab .tab-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  overflow-x: auto;
}
.cp-tab .tab-list::-webkit-scrollbar {
  display: none;
}
.cp-tab .tab-list .tab-item {
  flex-shrink: 0;
}
.cp-tab .tab-list .tab-item .title {
  border: 1px solid #dedede;
  font-family: "Poppins Regular";
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #666666;
  background: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  padding: 0.6rem 1.6rem;
}
.cp-tab .tab-list .tab-item .title.typ-capital {
  text-transform: capitalize;
}
.cp-tab .tab-list .tab-item:hover .title, .cp-tab .tab-list .tab-item.active .title {
  border: 1px solid #dedede;
  font-family: "Poppins Semibold";
  color: #FFFFFF;
  background: #3D7EDB;
}
.cp-tab .tab-container {
  padding-top: 2.4rem;
}
@media only screen and (max-width: 991px) {
  .cp-tab .tab-container {
    padding-top: 1.6rem;
  }
}
.cp-tab .tab-container .tab-content {
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  display: none;
}
.cp-tab .tab-container .tab-content.active {
  display: block;
}
.cp-tab .tab-container .tab-content .list-sec {
  display: flex;
}
.cp-tab .tab-container .tab-content .list-sec .list-item {
  width: 50%;
}
.cp-tab .tab-container .tab-content .list-sec .list-item .bold-text {
  font-family: "Poppins Semibold";
  font-size: 2rem;
  color: #333333;
  display: block;
}
.cp-tab .tab-container .tab-content .list-sec .list-item .normal-text {
  font-family: "Poppins Regular";
  font-size: 1.4rem;
  color: #666666;
  display: block;
}
.cp-tab .tab-container .content {
  font-size: 3rem;
}
.cp-tab.typ-calculate .tab-list {
  padding: 0 2.4rem 0;
}
.cp-tab.typ-question-answer .question-title {
  font-family: "Poppins Semibold";
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .cp-tab.typ-question-answer .question-title {
    display: none;
  }
}
.cp-tab.typ-question-answer .question-title .question-count {
  padding-inline: 1.2rem;
  background-color: #D2042D;
  color: #FFFFFF;
  border-radius: 2.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-tab.typ-question-answer .question-title .question-count {
    display: block;
    background: none;
    color: #666666;
    font-family: "Poppins Regular";
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
.cp-tab.typ-question-answer .sort-title {
  font-family: "Poppins Medium";
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-tab.typ-question-answer .sort-title {
    margin-top: 2.4rem;
  }
}
.cp-tab.typ-question-answer .btn-wrap {
  display: none;
}
@media only screen and (max-width: 768px) {
  .cp-tab.typ-question-answer .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .cp-tab.typ-struct-pdp {
    margin-bottom: 0rem;
  }
}
.cp-tab.typ-struct-pdp .tab-list {
  background: #ECF2FB;
  border-radius: 12px;
  padding: 0.8rem;
  max-width: 34.3rem;
}
.cp-tab.typ-struct-pdp .tab-list .tab-item.active .title {
  background: #FFFFFF;
  color: #3D7EDB;
  border: 0;
  font-family: "Poppins Medium";
}
.cp-tab.typ-struct-pdp .tab-list .title {
  border-radius: 8px;
  background: transparent;
  border: 0;
  padding: 1rem 4.5rem;
}

/*# sourceMappingURL=cp-tab.css.map */
