@import "../config/variables";
@import "../config/mixin";

.cp-dimensions{
display: flex;
margin-bottom: 3.2rem;
border-top: 1px solid #dedede;
border-bottom: 1px solid #dedede;
.img-wrap{
    width: 15.0rem;
    height: 23.6rem;
}
.list-item{
    &:nth-child(2){
        padding: 1.6rem;
    }
}
}