@import "../config/variables";
@import "../config/mixin";

.cp-tab {
  .tab-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .tab-item {
      flex-shrink: 0;
      .title {
        border: 1px solid #dedede;
        font-family: $font-regular;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $clr-para;
        background: $clr-root;
        cursor: pointer;
        text-transform: uppercase;
        @include border-radius(50px);
        @include transition(all, 2s, ease);
        padding: 0.6rem 1.6rem;
        &.typ-capital {
          text-transform: capitalize;
        }
      }
      &:hover,
      &.active {
        .title {
          border: 1px solid #dedede;
          font-family: $font-semiBold;
          color: $clr-root;
          background: $clr-primary;
        }
      }
    }
  }
  .tab-container {
    padding-top: 2.4rem;
    @media only screen and (max-width: $media-sm) {
      padding-top: 1.6rem;
    }
    .tab-content {
      @include transition(all, 2s, ease);
      display: none;
      &.active {
        display: block;
      }
      .list-sec{
        display: flex;
        .list-item{
          width: 50%;
          .bold-text{
            font-family: $font-semiBold;
          font-size: 2rem;
          color: $clr-base;
          display: block;
          }
          .normal-text{
            font-family: $font-regular;
          font-size: 1.4rem;
          color: $clr-para;
          display: block;
          }
          
        }
      }
    }
    .content {
      font-size: 3rem;
    }
  }
  &.typ-calculate {
    .tab-list {
      padding: 0 2.4rem 0;
    }
  }
  &.typ-question-answer {    
      .question-title {
        font-family: $font-semiBold;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-top: 3.2rem;
        margin-bottom: 1.2rem;
        @media only screen and (max-width: $media-mobile) {
          display: none;
        }
        .question-count {
          padding-inline: 1.2rem;
          background-color: $clr-secondary;
          color: $clr-root;
          border-radius: 2.6rem;
    
          @media only screen and (max-width: $media-mobile) {
            display: block;
            background: none;
            color: $clr-para;
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
        }
      }
      .sort-title {
        font-family: $font-medium;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
        @media only screen and (max-width: $media-mobile) {
          margin-top: 2.4rem;
        }
      }
      .btn-wrap {
         display: none;
          @media only screen and (max-width: $media-mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
          }
        
      }
  }
  &.typ-struct-pdp{
    @media only screen and (max-width: $media-mobile) {
      margin-bottom: 2.4rem;
    }
    .tab-list{
      background: $clr-bg;
      border-radius: 12px;
      padding: 0.8rem;
      .tab-item{
        &.active{
          .title{
            background: $clr-root;
            color: $clr-primary;
            border: 0;
            font-family: $font-medium;
          }
        }
      }
      .title{
        border-radius: 8px;
        background: transparent;
        border: 0;
        padding: 1rem 4.5rem;
      }
    }
  }
}
