/* colors */

$clr-root: #FFFFFF;
$clr-base: #000000;
$clr-primary: #3D7EDB;
$clr-secondary: #D2042D;
$clr-para: #666666;
$clr-bg: #ECF2FB;
$clr-border: #DEDEDE;

/*font family*/
$font-light: 'Poppins Light'; //300
$font-regular: 'Poppins Regular'; //400
$font-medium: 'Poppins Medium'; //500
$font-semiBold: 'Poppins Semibold'; //600
$font-bold: 'Poppins Bold'; //700
$font-extraBold: 'Poppins ExtraBold'; //800

/* breakpoints */
$media-mobile: 767px;
$media-sm: 991px;
$media-tab: 1023px;
$media-laptop: 1336px;
$media-xl: 1600px;
