/*
  @Project : tata steel Aashiyana
  @Desc : TATA Steel is a jQuery Project
  @type : 
  @Author : Yogesh  
  @Date : 11th Oct 2024;
*/ 

/* config include */
@import "./config/variables";
@import "./config/mixin";

/* reset files */
@import "./base/normalize";
@import "./base/fonts";
@import "./base/base-setup";
@import "./base/bs-sec"; 
@import "./base/btn"; 
@import "./layout/lyt-grid.scss";
@import "./config/_variables.scss";
/* component */

// @import "component/cp-header";
// @import "component/cp-footer";
